In [1]:
# Pandas

In [5]:
import pandas as pd
import numpy as np

In [4]:
# pandas Series : any columns in any table (1-D array)

In [7]:
country = ['India', 'USA', 'USSR', 'Nepal', 'SriLanka']
df = pd.Series(country)

In [8]:
df

0       India
1         USA
2        USSR
3       Nepal
4    SriLanka
dtype: object

In [9]:
# integers 
runs = [30, 19, 20, 15, 10]
runs_scored = pd.Series(runs)

In [10]:
runs_scored

0    30
1    19
2    20
3    15
4    10
dtype: int64

In [11]:
# Custom Index
marks = [67, 89, 100, 90, 70]

subjects = ['PE', 'CS', 'Maths', 'Physics', 'Chem']

In [14]:
pd.Series(marks, index=subjects, name='Marks of Agrim')

PE          67
CS          89
Maths      100
Physics     90
Chem        70
Name: Marks of Agrim, dtype: int64

In [15]:
# Series from dict

In [16]:
marks = {
    'maths' : 100,
    'PE' : 67, 
    'CS' : 89,
    'Physics' : 90,
    'Chem' : 70
}

In [17]:
marks_series = pd.Series(marks, name = "Marks of Agrim")

In [18]:
marks_series

maths      100
PE          67
CS          89
Physics     90
Chem        70
Name: Marks of Agrim, dtype: int64

In [19]:
# Series Attributes
marks_series.size

5

In [22]:
marks_series.dtypes

dtype('int64')

In [23]:
marks_series.is_unique

True

In [24]:
pd.Series([1, 1, 2, 2, 3, 4]).is_unique

False

In [25]:
marks_series.index

Index(['maths', 'PE', 'CS', 'Physics', 'Chem'], dtype='object')

In [27]:
type(marks_series)

pandas.core.series.Series

In [30]:
marks_series.values.shape

(5,)

In [29]:
marks_series

maths      100
PE          67
CS          89
Physics     90
Chem        70
Name: Marks of Agrim, dtype: int64

In [41]:
# Dataset load
subs = pd.read_csv('subs.csv')

In [42]:
# ; -> semicolon separated values

In [43]:
subs

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [57]:
manisha_ke_runs = pd.read_csv('kohli_ipl.csv', index_col = 'match_no')

In [58]:
manisha_ke_runs

          runs
match_no
1            1
2           23
3           13
4           12
5            1
...        ...
211          0
212         20
213         73
214         25
215          7

[215 rows x 1 columns]

In [74]:
bolly = pd.read_csv('bollywood.csv', index_col = 'movie')

In [75]:
bolly

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]

In [76]:
# Method 
bolly.head() # first 5 rows in my data

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar

In [77]:
bolly.tail()

                                    lead
movie
Hum Tumhare Hain Sanam    Shah Rukh Khan
Aankhen (2002 film)     Amitabh Bachchan
Saathiya (film)             Vivek Oberoi
Company (film)                Ajay Devgn
Awara Paagal Deewana        Akshay Kumar

In [78]:
bolly

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]

In [79]:
bolly.sample(10)

                                             lead
movie
Chhodon Naa Yaar                  Jimmy Sheirgill
Shaadi No. 1                         Fardeen Khan
Fugly (film)                      Jimmy Sheirgill
Aksar 2                               Zareen Khan
Dus Kahaniyaan                        Arbaaz Khan
Dum Laga Ke Haisha             Ayushmann Khurrana
The Blue Umbrella (2005 film)        Pankaj Kapur
Dhokha                            Muzamil Ibrahim
Firangi                              Kapil Sharma
Kai Po Che!                         Rajkummar Rao

In [80]:
bolly

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]

In [81]:
bolly.value_counts()

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Kashmira Shah        1
Kartik Elangovan     1
Karisma Kapoor       1
Karan Sharma         1
Zulfi Sayed          1
Name: count, Length: 566, dtype: int64

In [84]:
subs

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [85]:
subs.sort_index(ascending=False)

     Subscribers gained
364                 172
363                 144
362                 155
361                 226
360                 231
..                  ...
4                    44
3                    43
2                    40
1                    57
0                    48

[365 rows x 1 columns]

In [90]:
subs['Subscribers gained'].value_counts()

Subscribers gained
105    9
108    6
123    5
72     5
88     5
      ..
125    1
139    1
124    1
57     1
144    1
Name: count, Length: 180, dtype: int64