In [1]:
# Pandas

In [2]:
import pandas as pd
import numpy as np

In [3]:
# pandas Series : any columns in any table (1-D array)

In [4]:
country = ['India', 'USA', 'USSR', 'Nepal', 'SriLanka']
df = pd.Series(country)

In [5]:
df

0       India
1         USA
2        USSR
3       Nepal
4    SriLanka
dtype: object

In [6]:
# integers 
runs = [30, 19, 20, 15, 10]
runs_scored = pd.Series(runs)

In [7]:
runs_scored

0    30
1    19
2    20
3    15
4    10
dtype: int64

In [8]:
# Custom Index
marks = [67, 89, 100, 90, 70]

subjects = ['PE', 'CS', 'Maths', 'Physics', 'Chem']

In [9]:
pd.Series(marks, index=subjects, name='Marks of Agrim')

PE          67
CS          89
Maths      100
Physics     90
Chem        70
Name: Marks of Agrim, dtype: int64

In [10]:
# Series from dict

In [11]:
marks = {
    'maths' : 100,
    'PE' : 67, 
    'CS' : 89,
    'Physics' : 90,
    'Chem' : 70
}

In [12]:
marks_series = pd.Series(marks, name = "Marks of Agrim")

In [13]:
marks_series

maths      100
PE          67
CS          89
Physics     90
Chem        70
Name: Marks of Agrim, dtype: int64

In [14]:
# Series Attributes
marks_series.size

5

In [15]:
marks_series.dtypes

dtype('int64')

In [16]:
marks_series.is_unique

True

In [17]:
pd.Series([1, 1, 2, 2, 3, 4]).is_unique

False

In [18]:
marks_series.index

Index(['maths', 'PE', 'CS', 'Physics', 'Chem'], dtype='object')

In [19]:
type(marks_series)

pandas.core.series.Series

In [20]:
marks_series.values.shape

(5,)

In [21]:
marks_series

maths      100
PE          67
CS          89
Physics     90
Chem        70
Name: Marks of Agrim, dtype: int64

In [22]:
# Dataset load
subs = pd.read_csv('subs.csv')

In [23]:
# ; -> semicolon separated values

In [24]:
subs

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [25]:
manisha_ke_runs = pd.read_csv('kohli_ipl.csv', index_col = 'match_no')

In [26]:
manisha_ke_runs

          runs
match_no
1            1
2           23
3           13
4           12
5            1
...        ...
211          0
212         20
213         73
214         25
215          7

[215 rows x 1 columns]

In [27]:
bolly = pd.read_csv('bollywood.csv', index_col = 'movie')

In [28]:
bolly

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]

In [29]:
# Method 
bolly.head() # first 5 rows in my data

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar

In [30]:
bolly.tail()

                                    lead
movie
Hum Tumhare Hain Sanam    Shah Rukh Khan
Aankhen (2002 film)     Amitabh Bachchan
Saathiya (film)             Vivek Oberoi
Company (film)                Ajay Devgn
Awara Paagal Deewana        Akshay Kumar

In [31]:
bolly

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]

In [32]:
bolly.sample(10)

                                            lead
movie
Good Newwz                          Akshay Kumar
Thanks Maa                          Master Shams
Irada (2017 film)               Naseeruddin Shah
Sikandar (2009 film)              Parzaan Dastur
Jai Veeru                           Fardeen Khan
Yadvi – The Dignified Princess      Prisha Aneja
Dhadak                            Ishaan Khattar
Dirty Politics (film)                Anupam Kher
Staying Alive (2012 film)          Jahangir Khan
Action Jackson (2014 film)               Prabhas

In [33]:
bolly

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]

In [34]:
bolly.value_counts()

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Kashmira Shah        1
Kartik Elangovan     1
Karisma Kapoor       1
Karan Sharma         1
Zulfi Sayed          1
Name: count, Length: 566, dtype: int64

In [35]:
subs

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [36]:
subs.sort_index(ascending=False)

     Subscribers gained
364                 172
363                 144
362                 155
361                 226
360                 231
..                  ...
4                    44
3                    43
2                    40
1                    57
0                    48

[365 rows x 1 columns]

In [37]:
subs['Subscribers gained'].value_counts()

Subscribers gained
105    9
108    6
123    5
72     5
88     5
      ..
125    1
139    1
124    1
57     1
144    1
Name: count, Length: 180, dtype: int64

In [40]:
subs.head()

   Subscribers gained
0                  48
1                  57
2                  40
3                  43
4                  44

In [43]:
subs.sort_values(by = 'Subscribers gained',inplace= True)

In [44]:
subs

     Subscribers gained
42                   33
6                    33
24                   35
19                   37
14                   39
..                  ...
280                 295
233                 301
168                 306
331                 312
330                 396

[365 rows x 1 columns]

In [45]:
bolly

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]

In [46]:
manisha_ke_runs

          runs
match_no
1            1
2           23
3           13
4           12
5            1
...        ...
211          0
212         20
213         73
214         25
215          7

[215 rows x 1 columns]

In [48]:
# average runs scored by manisha 
manisha_ke_runs['runs'].mean()

30.855813953488372

In [49]:
manisha_ke_runs['runs'].max()

113

In [50]:
manisha_ke_runs['runs'].min()

0

In [55]:
manisha_ke_runs['runs'].sum()/manisha_ke_runs.shape[0]

30.855813953488372

In [54]:
manisha_ke_runs.shape[0]

215

In [56]:
bolly = pd.read_csv('bollywood.csv')

In [57]:
bolly.head()

                                  movie              lead
0              Uri: The Surgical Strike     Vicky Kaushal
1                         Battalion 609       Vicky Ahuja
2  The Accidental Prime Minister (film)       Anupam Kher
3                       Why Cheat India     Emraan Hashmi
4                       Evening Shadows  Mona Ambegaonkar

In [58]:
bolly.shape

(1500, 2)

In [59]:
bolly.iloc[0]

movie    Uri: The Surgical Strike
lead                Vicky Kaushal
Name: 0, dtype: object

In [61]:
bolly.iloc[:5, :]

                                  movie              lead
0              Uri: The Surgical Strike     Vicky Kaushal
1                         Battalion 609       Vicky Ahuja
2  The Accidental Prime Minister (film)       Anupam Kher
3                       Why Cheat India     Emraan Hashmi
4                       Evening Shadows  Mona Ambegaonkar

In [63]:
bolly.iloc[[0, 4, 6], 1]

0       Vicky Kaushal
4    Mona Ambegaonkar
6        Arshad Warsi
Name: lead, dtype: object

In [65]:
lead_count = bolly['lead'].value_counts()

In [68]:
lead_count[bolly['lead'].value_counts() >= 30]

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Name: count, dtype: int64

In [73]:
bolly[bolly['lead'] == 'Akshay Kumar'].sort_index()

                                     movie          lead
22                           Kesari (film)  Akshay Kumar
50                          Mission Mangal  Akshay Kumar
61                             Housefull 4  Akshay Kumar
79                              Good Newwz  Akshay Kumar
122                       Gold (2018 film)  Akshay Kumar
211                  Toilet: Ek Prem Katha  Akshay Kumar
256                         Airlift (film)  Akshay Kumar
365                 Baby (2015 Hindi film)  Akshay Kumar
366                        Singh Is Bliing  Akshay Kumar
367                         Gabbar Is Back  Akshay Kumar
368                         Gabbar Is Back  Akshay Kumar
429                   Brothers (2015 film)  Akshay Kumar
519   Holiday: A Soldier Is Never Off Duty  Akshay Kumar
523              Entertainment (2014 film)  Akshay Kumar
552                          The Shaukeens  Akshay Kumar
579                             Special 26  Akshay Kumar
626   Once Upon ay Time in Mumbai Dobaara!  Akshay Kumar
639                 Boss (2013 Hindi film)  Akshay Kumar
705                      Joker (2012 film)  Akshay Kumar
735                            Housefull 2  Akshay Kumar
752                  Thank You (2011 film)  Akshay Kumar
815                              Desi Boyz  Akshay Kumar
856                  Housefull (2010 film)  Akshay Kumar
869              Khatta Meetha (2010 film)  Akshay Kumar
903             Tees Maar Khan (2010 film)  Akshay Kumar
913                         Action Replayy  Akshay Kumar
964                       Blue (2009 film)  Akshay Kumar
971                            De Dana Dan  Akshay Kumar
981                         Singh Is Kinng  Akshay Kumar
996                          Tashan (film)  Akshay Kumar
1053                       Bhool Bhulaiyaa  Akshay Kumar
1107                       Namastey London  Akshay Kumar
1135                   Welcome (2007 film)  Akshay Kumar
1152                           Bhagam Bhag  Akshay Kumar
1174                Humko Deewana Kar Gaye  Akshay Kumar
1193                       Phir Hera Pheri  Akshay Kumar
1195        Mere Jeevan Saathi (2006 film)  Akshay Kumar
1240                   Deewane Huye Paagal  Akshay Kumar
1244                Dosti: Friends Forever  Akshay Kumar
1255              Garam Masala (2005 film)  Akshay Kumar
1259                                 Insan  Akshay Kumar
1327                               Aitraaz  Akshay Kumar
1349                     Hatya (2004 film)  Akshay Kumar
1373             Meri Biwi Ka Jawaab Nahin  Akshay Kumar
1379         Police Force: An Inside Story  Akshay Kumar
1417                                Andaaz  Akshay Kumar
1418                                Andaaz  Akshay Kumar
1499                  Awara Paagal Deewana  Akshay Kumar

In [74]:
# astype
# between
# drop_duplicates
# isnull
# dropna
# fillna
# isin
# apply

In [75]:
movies = pd.read_csv('movies.csv')

In [76]:
movies.head()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [77]:
movies.shape

(1629, 18)

In [78]:
movies.iloc[0]

title_x                                      Uri: The Surgical Strike
imdb_id                                                     tt8291224
poster_path         https://upload.wikimedia.org/wikipedia/en/thum...
wiki_link           https://en.wikipedia.org/wiki/Uri:_The_Surgica...
title_y                                      Uri: The Surgical Strike
original_title                               Uri: The Surgical Strike
is_adult                                                            0
year_of_release                                                  2019
runtime                                                           138
genres                                               Action|Drama|War
imdb_rating                                                       8.4
imdb_votes                                                      35112
story               Divided over five chapters  the film chronicle...
summary             Indian army special forces execute a covert op...
tagline                                                           NaN
actors              Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...
wins_nominations                                               4 wins
release_date                                    11 January 2019 (USA)
Name: 0, dtype: object

In [79]:
movies.head()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [80]:
# Information about my data
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1629 entries, 0 to 1628
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           1629 non-null   object
 1   imdb_id           1629 non-null   object
 2   poster_path       1526 non-null   object
 3   wiki_link         1629 non-null   object
 4   title_y           1629 non-null   object
 5   original_title    1629 non-null   object
 6   is_adult          1629 non-null   int64
 7   year_of_release   1629 non-null   int64
 8   runtime           1629 non-null   object
 9   genres            1629 non-null   object
 10  imdb_rating       1629 non-null   float64
 11  imdb_votes        1629 non-null   int64
 12  story             1609 non-null   object
 13  summary           1629 non-null   object
 14  tagline           557 non-null    object
 15  actors            1624 non-null   object
 16  wins_nominations  707 non-null    object
 17  release_date      1522 non-null   object
dtypes: float64(1), int64(3), object(14)
memory usage: 229.2+ KB

In [82]:
# some sort of statistics
movies.describe()

       is_adult  year_of_release  imdb_rating     imdb_votes
count    1629.0      1629.000000  1629.000000    1629.000000
mean        0.0      2010.263966     5.557459    5384.263352
std         0.0         5.381542     1.567609   14552.103231
min         0.0      2001.000000     0.000000       0.000000
25%         0.0      2005.000000     4.400000     233.000000
50%         0.0      2011.000000     5.600000    1000.000000
75%         0.0      2015.000000     6.800000    4287.000000
max         0.0      2019.000000     9.400000  310481.000000

In [86]:
(movies.isnull().sum()/movies.shape[0])*100

title_x              0.000000
imdb_id              0.000000
poster_path          6.322897
wiki_link            0.000000
title_y              0.000000
original_title       0.000000
is_adult             0.000000
year_of_release      0.000000
runtime              0.000000
genres               0.000000
imdb_rating          0.000000
imdb_votes           0.000000
story                1.227747
summary              0.000000
tagline             65.807244
actors               0.306937
wins_nominations    56.599141
release_date         6.568447
dtype: float64

In [88]:
movies.duplicated().sum()

0

In [89]:
movies.drop_duplicates(inplace = True)

In [90]:
movies.shape

(1629, 18)

In [91]:
ipl_matches = pd.read_csv('ipl-matches.csv')

In [92]:
ipl_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int64
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    object
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    object
 6   Team2            950 non-null    object
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 148.6+ KB

In [93]:
ipl_matches.describe()

                 ID      Margin
count  9.500000e+02  932.000000
mean   8.304852e+05   17.056867
std    3.375678e+05   21.633109
min    3.359820e+05    1.000000
25%    5.012612e+05    6.000000
50%    8.297380e+05    8.000000
75%    1.175372e+06   19.000000
max    1.312200e+06  146.000000

In [99]:
(ipl_matches.isnull().sum()/ipl_matches.shape[0])*100

ID                  0.000000
City                5.368421
Date                0.000000
Season              0.000000
MatchNumber         0.000000
Team1               0.000000
Team2               0.000000
Venue               0.000000
TossWinner          0.000000
TossDecision        0.000000
SuperOver           0.421053
WinningTeam         0.421053
WonBy               0.000000
Margin              1.894737
method             98.000000
Player_of_Match     0.421053
Team1Players        0.000000
Team2Players        0.000000
Umpire1             0.000000
Umpire2             0.000000
dtype: float64

In [100]:
ipl_matches.drop(columns = ['method'], inplace = True)

In [101]:
(ipl_matches.isnull().sum()/ipl_matches.shape[0])*100

ID                 0.000000
City               5.368421
Date               0.000000
Season             0.000000
MatchNumber        0.000000
Team1              0.000000
Team2              0.000000
Venue              0.000000
TossWinner         0.000000
TossDecision       0.000000
SuperOver          0.421053
WinningTeam        0.421053
WonBy              0.000000
Margin             1.894737
Player_of_Match    0.421053
Team1Players       0.000000
Team2Players       0.000000
Umpire1            0.000000
Umpire2            0.000000
dtype: float64

In [102]:
ipl_matches.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [105]:
ipl_matches[ipl_matches.isin(['Mumbai', 'Ahemdabad'])]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Mumbai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
946,NaN,Mumbai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
ipl_matches[(ipl_matches['City'] == 'Ahmedabad') & (ipl_matches['Season'] == '2015')]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
470,829749,Ahmedabad,2015-04-24,2015,22,Rajasthan Royals,Royal Challengers Bangalore,"Sardar Patel Stadium, Motera",Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,9.0,MA Starc,"['AM Rahane', 'SR Watson', 'SPD Smith', 'KK Na...","['CH Gayle', 'V Kohli', 'AB de Villiers', 'Man...",M Erasmus,S Ravi
474,829741,Ahmedabad,2015-04-21,2015,18,Rajasthan Royals,Kings XI Punjab,"Sardar Patel Stadium, Motera",Kings XI Punjab,field,Y,Kings XI Punjab,SuperOver,NaN,SE Marsh,"['AM Rahane', 'SR Watson', 'DJ Hooda', 'SPD Sm...","['M Vijay', 'V Sehwag', 'SE Marsh', 'GJ Maxwel...",M Erasmus,S Ravi
476,829735,Ahmedabad,2015-04-19,2015,15,Rajasthan Royals,Chennai Super Kings,"Sardar Patel Stadium, Motera",Chennai Super Kings,bat,N,Rajasthan Royals,Wickets,8.0,AM Rahane,"['AM Rahane', 'SR Watson', 'SPD Smith', 'KK Na...","['DR Smith', 'BB McCullum', 'SK Raina', 'F du ...",AK Chaudhary,M Erasmus
483,829721,Ahmedabad,2015-04-14,2015,9,Rajasthan Royals,Mumbai Indians,"Sardar Patel Stadium, Motera",Mumbai Indians,bat,N,Rajasthan Royals,Wickets,7.0,SPD Smith,"['AM Rahane', 'SV Samson', 'SPD Smith', 'DJ Ho...","['AJ Finch', 'PA Patel', 'UBT Chand', 'RG Shar...",AK Chaudhary,SD Fry

In [112]:
ipl_matches[ipl_matches['Margin'].between(3, 8)]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
5,1304115,Mumbai,2022-05-21,2022,69,Delhi Capitals,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,N,Mumbai Indians,Wickets,5.0,JJ Bumrah,"['PP Shaw', 'DA Warner', 'MR Marsh', 'RR Pant'...","['Ishan Kishan', 'RG Sharma', 'D Brevis', 'Til...",Nitin Menon,Tapan Sharma
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941,335990,Hyderabad,2008-04-24,2007/08,9,Deccan Chargers,Rajasthan Royals,"Rajiv Gandhi International Stadium, Uppal",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,3.0,YK Pathan,"['AC Gilchrist', 'VVS Laxman', 'Shahid Afridi'...","['Kamran Akmal', 'GC Smith', 'YK Pathan', 'SR ...",Asad Rauf,MR Benson
942,335989,Chennai,2008-04-23,2007/08,8,Chennai Super Kings,Mumbai Indians,"MA Chidambaram Stadium, Chepauk",Mumbai Indians,field,N,Chennai Super Kings,Runs,6.0,ML Hayden,"['PA Patel', 'ML Hayden', 'MEK Hussey', 'SK Ra...","['L Ronchi', 'ST Jayasuriya', 'RV Uthappa', 'S...",DJ Harper,GA Pratapkumar
944,335987,Jaipur,2008-04-21,2007/08,6,Rajasthan Royals,Kings XI Punjab,Sawai Mansingh Stadium,Kings XI Punjab,bat,N,Rajasthan Royals,Wickets,6.0,SR Watson,"['M Kaif', 'Kamran Akmal', 'YK Pathan', 'SR Wa...","['K Goel', 'JR Hopes', 'KC Sangakkara', 'DPMD ...",Aleem Dar,RB Tiffin
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper

In [124]:
ipl_matches['TossDecision'] = ipl_matches['TossDecision'].apply(lambda x : x.capitalize())

In [127]:
ipl_matches.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Bat,N,Gujarat Titans,Wickets,High Margin,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Field,N,Rajasthan Royals,Wickets,High Margin,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,Field,N,Royal Challengers Bangalore,Runs,High Margin,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,Field,N,Gujarat Titans,Wickets,High Margin,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,Bat,N,Punjab Kings,Wickets,Low Margin,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [126]:
ipl_matches['Margin'] = ipl_matches['Margin'].apply(lambda x : "High Margin" if x >= 7.0 else "Low Margin")

In [130]:
ipl_matches['City'].unique()

array(['Ahmedabad', 'Kolkata', 'Mumbai', 'Navi Mumbai', 'Pune', 'Dubai',
       'Sharjah', 'Abu Dhabi', 'Delhi', 'Chennai', nan, 'Hyderabad',
       'Visakhapatnam', 'Chandigarh', 'Bengaluru', 'Jaipur', 'Indore',
       'Bangalore', 'Kanpur', 'Rajkot', 'Raipur', 'Ranchi', 'Cuttack',
       'Dharamsala', 'Kochi', 'Nagpur', 'Johannesburg', 'Centurion',
       'Durban', 'Bloemfontein', 'Port Elizabeth', 'Kimberley',
       'East London', 'Cape Town'], dtype=object)

In [131]:
ipl_matches['City'].value_counts()

City
Mumbai            159
Kolkata            79
Delhi              78
Chennai            67
Bangalore          65
Hyderabad          64
Chandigarh         56
Pune               51
Jaipur             47
Abu Dhabi          37
Ahmedabad          19
Bengaluru          15
Durban             15
Visakhapatnam      13
Dubai              13
Centurion          12
Rajkot             10
Sharjah            10
Dharamsala          9
Navi Mumbai         9
Indore              9
Johannesburg        8
Ranchi              7
Cuttack             7
Port Elizabeth      7
Cape Town           7
Raipur              6
Kochi               5
Kanpur              4
Nagpur              3
Kimberley           3
East London         3
Bloemfontein        2
Name: count, dtype: int64

In [133]:
ipl_matches['City'].nunique()

33

In [135]:
subs.values

array([[ 33],
       [ 33],
       [ 35],
       [ 37],
       [ 39],
       [ 40],
       [ 40],
       [ 40],
       [ 40],
       [ 42],
       [ 42],
       [ 43],
       [ 44],
       [ 44],
       [ 44],
       [ 45],
       [ 46],
       [ 46],
       [ 48],
       [ 49],
       [ 49],
       [ 49],
       [ 49],
       [ 50],
       [ 50],
       [ 50],
       [ 51],
       [ 54],
       [ 56],
       [ 56],
       [ 56],
       [ 56],
       [ 57],
       [ 61],
       [ 62],
       [ 64],
       [ 65],
       [ 65],
       [ 66],
       [ 66],
       [ 66],
       [ 66],
       [ 67],
       [ 68],
       [ 70],
       [ 70],
       [ 70],
       [ 71],
       [ 71],
       [ 72],
       [ 72],
       [ 72],
       [ 72],
       [ 72],
       [ 73],
       [ 74],
       [ 74],
       [ 75],
       [ 76],
       [ 76],
       [ 76],
       [ 76],
       [ 77],
       [ 77],
       [ 78],
       [ 78],
       [ 78],
       [ 79],
       [ 79],
       [ 80],
       [ 80],
       [ 80],
       [ 81],
       [ 81],
       [ 82],
       [ 82],
       [ 83],
       [ 83],
       [ 83],
       [ 84],
       [ 84],
       [ 84],
       [ 85],
       [ 86],
       [ 86],
       [ 86],
       [ 87],
       [ 87],
       [ 87],
       [ 87],
       [ 88],
       [ 88],
       [ 88],
       [ 88],
       [ 88],
       [ 89],
       [ 89],
       [ 89],
       [ 90],
       [ 90],
       [ 90],
       [ 90],
       [ 91],
       [ 92],
       [ 92],
       [ 92],
       [ 93],
       [ 93],
       [ 93],
       [ 93],
       [ 95],
       [ 95],
       [ 96],
       [ 96],
       [ 96],
       [ 96],
       [ 97],
       [ 97],
       [ 98],
       [ 98],
       [ 99],
       [ 99],
       [100],
       [100],
       [100],
       [101],
       [101],
       [101],
       [102],
       [102],
       [103],
       [103],
       [104],
       [104],
       [104],
       [105],
       [105],
       [105],
       [105],
       [105],
       [105],
       [105],
       [105],
       [105],
       [108],
       [108],
       [108],
       [108],
       [108],
       [108],
       [109],
       [109],
       [110],
       [110],
       [110],
       [111],
       [111],
       [112],
       [113],
       [113],
       [113],
       [114],
       [114],
       [114],
       [114],
       [115],
       [115],
       [115],
       [115],
       [117],
       [117],
       [117],
       [118],
       [118],
       [119],
       [119],
       [119],
       [119],
       [120],
       [122],
       [123],
       [123],
       [123],
       [123],
       [123],
       [124],
       [125],
       [126],
       [127],
       [128],
       [128],
       [129],
       [130],
       [131],
       [131],
       [132],
       [132],
       [134],
       [134],
       [134],
       [135],
       [135],
       [136],
       [136],
       [136],
       [137],
       [138],
       [138],
       [138],
       [139],
       [140],
       [144],
       [145],
       [146],
       [146],
       [146],
       [146],
       [147],
       [149],
       [150],
       [150],
       [150],
       [150],
       [151],
       [152],
       [152],
       [152],
       [153],
       [153],
       [153],
       [154],
       [154],
       [154],
       [155],
       [155],
       [156],
       [156],
       [156],
       [156],
       [157],
       [157],
       [157],
       [157],
       [158],
       [158],
       [159],
       [159],
       [160],
       [160],
       [160],
       [160],
       [162],
       [164],
       [166],
       [167],
       [167],
       [168],
       [170],
       [170],
       [170],
       [170],
       [171],
       [172],
       [172],
       [173],
       [173],
       [173],
       [174],
       [174],
       [175],
       [175],
       [176],
       [176],
       [177],
       [178],
       [179],
       [179],
       [180],
       [180],
       [180],
       [182],
       [183],
       [183],
       [183],
       [184],
       [184],
       [184],
       [185],
       [185],
       [185],
       [185],
       [186],
       [186],
       [186],
       [188],
       [189],
       [190],
       [190],
       [192],
       [192],
       [192],
       [196],
       [196],
       [196],
       [197],
       [197],
       [202],
       [202],
       [202],
       [203],
       [204],
       [206],
       [207],
       [209],
       [210],
       [210],
       [211],
       [212],
       [213],
       [214],
       [216],
       [219],
       [220],
       [221],
       [221],
       [222],
       [222],
       [224],
       [225],
       [225],
       [226],
       [227],
       [228],
       [229],
       [230],
       [231],
       [233],
       [236],
       [236],
       [237],
       [241],
       [243],
       [244],
       [245],
       [247],
       [249],
       [254],
       [254],
       [258],
       [259],
       [259],
       [261],
       [261],
       [265],
       [267],
       [268],
       [269],
       [276],
       [276],
       [290],
       [295],
       [301],
       [306],
       [312],
       [396]], dtype=int64)

In [136]:
ipl_matches.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Bat,N,Gujarat Titans,Wickets,High Margin,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Field,N,Rajasthan Royals,Wickets,High Margin,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,Field,N,Royal Challengers Bangalore,Runs,High Margin,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,Field,N,Gujarat Titans,Wickets,High Margin,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,Bat,N,Punjab Kings,Wickets,Low Margin,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [137]:
ipl_matches.to_csv('Changes_ipl_matches.csv')

In [138]:
a = {
    'name' : ['manisha', 'mukul', 'agrim'],
    'marks' : [89, 99, 80],
    'course' : ['DA', 'DS', 'DS'],
    'fee' : [40000, 26000,  26000]
}

In [141]:
pd.DataFrame(a)

      name  marks course    fee
0  manisha     89     DA  40000
1    mukul     99     DS  26000
2    agrim     80     DS  26000

In [147]:
import warnings
warnings.filterwarnings("ignore")
# !pip install kagglehub
import kagglehub

# Download latest version
path = kagglehub.dataset_download("figolm10/insurance-dataset")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\tbaka\.cache\kagglehub\datasets\figolm10\insurance-dataset\versions\1

In [148]:
import os
for file in os.listdir(path):
    print(file)

insurance.csv

In [151]:
pd.read_csv(path + '\insurance.csv' )

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]