In [146]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
singers = ['travis Scott', 'pawan singh', 'manish yadav', 'vansh tomar', 'arijit singh']

In [3]:
pd.Series(singers)

0    travis Scott
1     pawan singh
2    manish yadav
3     vansh tomar
4    arijit singh
dtype: object

In [4]:
runs = [10, 20, 15, 5, 7, 0, 30]

In [5]:
pd.Series(runs, name = 'No_of_runs')

0    10
1    20
2    15
3     5
4     7
5     0
6    30
Name: No_of_runs, dtype: int64

In [6]:
singers = ['travis Scott', 'pawan singh', 'manish yadav', 'vansh tomar', 'arijit singh']
pop = [100, 90, 150, 20, 1000]

In [7]:
pd.Series(pop, index = singers, name = 'popularity of all singers')

travis Scott     100
pawan singh       90
manish yadav     150
vansh tomar       20
arijit singh    1000
Name: popularity of all singers, dtype: int64

In [8]:
marks = {
    'python' : 60,
    'cloud' : 40,
    'Ml' : 50,
    'Dl' : 90,
    'dsa' : 70
}
marks['Dl']

90

In [9]:
marks_series = pd.Series(marks, name = 'marks of vansh')

In [10]:
marks_series.size

5

In [11]:
marks_series.dtype

dtype('int64')

In [12]:
marks_series[1]

C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\1614499712.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  marks_series[1]

40

In [13]:
for i in marks_series.index:
    print(i)

python
cloud
Ml
Dl
dsa

In [14]:
subs = pd.read_csv('subs.csv')

In [15]:
subs.head()

   Subscribers gained
0                  48
1                  57
2                  40
3                  43
4                  44

In [16]:
subs

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [17]:
subs.head(7)

   Subscribers gained
0                  48
1                  57
2                  40
3                  43
4                  44
5                  46
6                  33

In [18]:
subs.tail(10)

     Subscribers gained
355                 149
356                 156
357                 177
358                 210
359                 209
360                 231
361                 226
362                 155
363                 144
364                 172

In [19]:
kohli_df = pd.read_csv('kohli_ipl.csv', index_col='match_no')

In [20]:
kohli_df.head()

          runs
match_no
1            1
2           23
3           13
4           12
5            1

In [21]:
kohli_df.ndim

2

In [22]:
kohli_df.shape

(215, 1)

In [23]:
# kohli_df.values

In [24]:
movies = pd.read_csv('bollywood.csv')

In [25]:
movies.head()

                                  movie              lead
0              Uri: The Surgical Strike     Vicky Kaushal
1                         Battalion 609       Vicky Ahuja
2  The Accidental Prime Minister (film)       Anupam Kher
3                       Why Cheat India     Emraan Hashmi
4                       Evening Shadows  Mona Ambegaonkar

In [26]:
movies.reset_index()

      index                                 movie              lead
0         0              Uri: The Surgical Strike     Vicky Kaushal
1         1                         Battalion 609       Vicky Ahuja
2         2  The Accidental Prime Minister (film)       Anupam Kher
3         3                       Why Cheat India     Emraan Hashmi
4         4                       Evening Shadows  Mona Ambegaonkar
...     ...                                   ...               ...
1495   1495                Hum Tumhare Hain Sanam    Shah Rukh Khan
1496   1496                   Aankhen (2002 film)  Amitabh Bachchan
1497   1497                       Saathiya (film)      Vivek Oberoi
1498   1498                        Company (film)        Ajay Devgn
1499   1499                  Awara Paagal Deewana      Akshay Kumar

[1500 rows x 3 columns]

In [27]:
movies.sample(5)

                        movie            lead
236   Babuji Ek Ticket Bambai  Sudha Chandran
1054                    Bhram      Dino Morea
521             Bazaar E Husn    Reshmi Ghosh
1180      Holiday (2006 film)    Onjolee Nair
136                  Ishqeria    Manish Anand

In [28]:
movies.head()

                                  movie              lead
0              Uri: The Surgical Strike     Vicky Kaushal
1                         Battalion 609       Vicky Ahuja
2  The Accidental Prime Minister (film)       Anupam Kher
3                       Why Cheat India     Emraan Hashmi
4                       Evening Shadows  Mona Ambegaonkar

In [29]:
# finding how many movies done by vicky kaushal

In [30]:
movies.value_counts()

movie                     lead
Andaaz                    Akshay Kumar        2
Tanu Weds Manu: Returns   Kangana Ranaut      2
Gabbar Is Back            Akshay Kumar        2
1920 (film)               Rajniesh Duggall    1
Newton (film)             Rajkummar Rao       1
                                             ..
Ghayal: Once Again        Sunny Deol          1
Ghanchakkar (film)        Vidya Balan         1
Ghajini (2008 film)       Aamir Khan          1
Genius (2018 Hindi film)  Utkarsh Sharma      1
Zor Lagaa Ke...Haiya!     Meghan Jadhav       1
Name: count, Length: 1497, dtype: int64

In [31]:
movies['lead'].value_counts()

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: count, Length: 566, dtype: int64

In [32]:
movies['movie'].value_counts()

movie
Tanu Weds Manu: Returns        2
Gabbar Is Back                 2
Andaaz                         2
Uri: The Surgical Strike       1
Jannat (film)                  1
                              ..
Hawaa Hawaai                   1
Children of War (2014 film)    1
The XposÃ©                      1
Mastram                        1
Awara Paagal Deewana           1
Name: count, Length: 1497, dtype: int64

In [33]:
kohli_df = kohli_df.reset_index()

In [34]:
kohli_df

     match_no  runs
0           1     1
1           2    23
2           3    13
3           4    12
4           5     1
..        ...   ...
210       211     0
211       212    20
212       213    73
213       214    25
214       215     7

[215 rows x 2 columns]

In [35]:
kohli_df['runs'].sort_index(ascending=False)

214     7
213    25
212    73
211    20
210     0
       ..
4       1
3      12
2      13
1      23
0       1
Name: runs, Length: 215, dtype: int64

In [36]:
kohli_df.size

430

In [37]:
kohli_df.shape

(215, 2)

In [38]:
215*2

430

In [39]:
movies = pd.read_csv('movies.csv')

In [40]:
movies.head()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [41]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1629 entries, 0 to 1628
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           1629 non-null   object
 1   imdb_id           1629 non-null   object
 2   poster_path       1526 non-null   object
 3   wiki_link         1629 non-null   object
 4   title_y           1629 non-null   object
 5   original_title    1629 non-null   object
 6   is_adult          1629 non-null   int64
 7   year_of_release   1629 non-null   int64
 8   runtime           1629 non-null   object
 9   genres            1629 non-null   object
 10  imdb_rating       1629 non-null   float64
 11  imdb_votes        1629 non-null   int64
 12  story             1609 non-null   object
 13  summary           1629 non-null   object
 14  tagline           557 non-null    object
 15  actors            1624 non-null   object
 16  wins_nominations  707 non-null    object
 17  release_date      1522 non-null   object
dtypes: float64(1), int64(3), object(14)
memory usage: 229.2+ KB

In [42]:
print("all columns : ")
for i in movies.columns:
    print(i)

all columns :
title_x
imdb_id
poster_path
wiki_link
title_y
original_title
is_adult
year_of_release
runtime
genres
imdb_rating
imdb_votes
story
summary
tagline
actors
wins_nominations
release_date

In [43]:
movies = pd.read_csv('bollywood.csv')

In [44]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   movie   1500 non-null   object
 1   lead    1500 non-null   object
dtypes: object(2)
memory usage: 23.6+ KB

In [45]:
movies.describe()

                          movie          lead
count                      1500          1500
unique                     1497           566
top     Tanu Weds Manu: Returns  Akshay Kumar
freq                          2            48

In [46]:
movies['lead'].value_counts()[movies['lead'].value_counts() > 30]

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Name: count, dtype: int64

In [47]:
# astype
# drop_duplicates
# isnull
# dropna
# fillna
# isin
# apply
# copy

In [48]:
# movies.astype?

In [49]:
movies = pd.read_csv('movies.csv')

In [50]:
numerical_col = []
categorical_col = []
for col in movies.columns:
    if movies[col].dtypes == object:
        categorical_col.append(col)
    else:
        numerical_col.append(col)

In [51]:
numerical_col

['is_adult', 'year_of_release', 'imdb_rating', 'imdb_votes']

In [52]:
categorical_col

['title_x',
 'imdb_id',
 'poster_path',
 'wiki_link',
 'title_y',
 'original_title',
 'runtime',
 'genres',
 'story',
 'summary',
 'tagline',
 'actors',
 'wins_nominations',
 'release_date']

In [53]:
movies['title_x'] = movies['title_x'].astype(str)

In [54]:
movies.head()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [55]:
movies.duplicated().sum()

0

In [56]:
movies.drop_duplicates(inplace = True)

In [57]:
(movies.isnull().sum()/movies.shape[0])*100

title_x              0.000000
imdb_id              0.000000
poster_path          6.322897
wiki_link            0.000000
title_y              0.000000
original_title       0.000000
is_adult             0.000000
year_of_release      0.000000
runtime              0.000000
genres               0.000000
imdb_rating          0.000000
imdb_votes           0.000000
story                1.227747
summary              0.000000
tagline             65.807244
actors               0.306937
wins_nominations    56.599141
release_date         6.568447
dtype: float64

In [58]:
movies.shape[0]

1629

In [59]:
(103/1629)*100

6.322897483118478

In [60]:
# movies.dropna(inplace = True)

In [61]:
ipl_match = pd.read_csv('ipl-matches.csv')

In [62]:
ipl_match.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [63]:
ipl_match.isnull().sum()

ID                   0
City                51
Date                 0
Season               0
MatchNumber          0
Team1                0
Team2                0
Venue                0
TossWinner           0
TossDecision         0
SuperOver            4
WinningTeam          4
WonBy                0
Margin              18
method             931
Player_of_Match      4
Team1Players         0
Team2Players         0
Umpire1              0
Umpire2              0
dtype: int64

In [64]:
ipl_match.shape

(950, 20)

In [65]:
ipl_match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int64
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    object
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    object
 6   Team2            950 non-null    object
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 148.6+ KB

In [66]:
(ipl_match['Margin'].isnull().sum()/ipl_match.shape[0])*100

1.8947368421052633

In [67]:
margin_mean = ipl_match['Margin'].mean()

In [68]:
margin_median = ipl_match['Margin'].median()

In [69]:
# ipl_match['Margin'] = ipl_match['Margin'].fillna(margin_mean)
ipl_match['Margin'].fillna(margin_median, inplace=True)

C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\1134282163.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ipl_match['Margin'].fillna(margin_median, inplace=True)

In [70]:
(ipl_match['Margin'].isnull().sum()/ipl_match.shape[0])*100

0.0

In [71]:
ipl_match.isin(['Delhi', 'Rajasthan Royals'])

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,True,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
946,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
947,False,True,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False
948,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
949,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [72]:
ipl_match['City'].isnull().sum()

51

In [73]:
bolly = pd.read_csv('bollywood.csv')

In [74]:
bolly.head()

                                  movie              lead
0              Uri: The Surgical Strike     Vicky Kaushal
1                         Battalion 609       Vicky Ahuja
2  The Accidental Prime Minister (film)       Anupam Kher
3                       Why Cheat India     Emraan Hashmi
4                       Evening Shadows  Mona Ambegaonkar

In [75]:
bolly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   movie   1500 non-null   object
 1   lead    1500 non-null   object
dtypes: object(2)
memory usage: 23.6+ KB

In [76]:
bolly['lead'] = bolly['lead'].apply(lambda x : x.lower())

In [77]:
bolly.head()

                                  movie              lead
0              Uri: The Surgical Strike     vicky kaushal
1                         Battalion 609       vicky ahuja
2  The Accidental Prime Minister (film)       anupam kher
3                       Why Cheat India     emraan hashmi
4                       Evening Shadows  mona ambegaonkar

In [78]:
ipl_match.drop_duplicates(inplace=True)

In [79]:
ipl_match.dropna(inplace=True)

In [80]:
ipl_match.isnull().sum()

ID                 0
City               0
Date               0
Season             0
MatchNumber        0
Team1              0
Team2              0
Venue              0
TossWinner         0
TossDecision       0
SuperOver          0
WinningTeam        0
WonBy              0
Margin             0
method             0
Player_of_Match    0
Team1Players       0
Team2Players       0
Umpire1            0
Umpire2            0
dtype: int64

In [81]:
ipl_match['City']

282            Delhi
296          Kolkata
308           Jaipur
316        Bangalore
383        Bangalore
384    Visakhapatnam
389          Kolkata
411        Hyderabad
441        Hyderabad
472    Visakhapatnam
520            Delhi
717        Bangalore
728          Kolkata
757            Kochi
860        Centurion
886           Durban
889        Cape Town
908          Kolkata
910            Delhi
Name: City, dtype: object

In [82]:
ipl_match.shape

(19, 20)

In [83]:
for i in range(ipl_match.shape[0]):
    ipl_match['City'].iloc[i] = ipl_match['City'].iloc[i].lower()

C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\695304738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipl_match['City'].iloc[i] = ipl_match['City'].iloc[i].lower()
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\695304738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipl_match['City'].iloc[i] = ipl_match['City'].iloc[i].lower()
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\695304738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipl_match['City'].iloc[i] = ipl_match['City'].iloc[i].lower()
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\695304738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipl_match['City'].iloc[i] = ipl_match['City'].iloc[i].lower()
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\695304738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipl_match['City'].iloc[i] = ipl_match['City'].iloc[i].lower()
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\695304738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipl_match['City'].iloc[i] = ipl_match['City'].iloc[i].lower()
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\695304738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipl_match['City'].iloc[i] = ipl_match['City'].iloc[i].lower()
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\695304738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipl_match['City'].iloc[i] = ipl_match['City'].iloc[i].lower()
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\695304738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipl_match['City'].iloc[i] = ipl_match['City'].iloc[i].lower()
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\695304738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipl_match['City'].iloc[i] = ipl_match['City'].iloc[i].lower()
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\695304738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipl_match['City'].iloc[i] = ipl_match['City'].iloc[i].lower()
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\695304738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipl_match['City'].iloc[i] = ipl_match['City'].iloc[i].lower()
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\695304738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipl_match['City'].iloc[i] = ipl_match['City'].iloc[i].lower()
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\695304738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipl_match['City'].iloc[i] = ipl_match['City'].iloc[i].lower()
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\695304738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipl_match['City'].iloc[i] = ipl_match['City'].iloc[i].lower()
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\695304738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipl_match['City'].iloc[i] = ipl_match['City'].iloc[i].lower()
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\695304738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipl_match['City'].iloc[i] = ipl_match['City'].iloc[i].lower()
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\695304738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipl_match['City'].iloc[i] = ipl_match['City'].iloc[i].lower()
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\695304738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipl_match['City'].iloc[i] = ipl_match['City'].iloc[i].lower()

In [84]:
ipl_match.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
282,1136592,delhi,2018-05-02,2018,32,Delhi Daredevils,Rajasthan Royals,Arun Jaitley Stadium,Rajasthan Royals,field,N,Delhi Daredevils,Runs,4.0,D/L,RR Pant,"['PP Shaw', 'C Munro', 'SS Iyer', 'RR Pant', '...","['DJM Short', 'JC Buttler', 'SV Samson', 'BA S...",CK Nandan,VK Sharma
296,1136578,kolkata,2018-04-21,2018,18,Kolkata Knight Riders,Kings XI Punjab,Eden Gardens,Kings XI Punjab,field,N,Kings XI Punjab,Wickets,9.0,D/L,KL Rahul,"['CA Lynn', 'SP Narine', 'RV Uthappa', 'N Rana...","['KL Rahul', 'CH Gayle', 'MA Agarwal', 'KK Nai...",A Deshmukh,C Shamshuddin
308,1136566,jaipur,2018-04-11,2018,6,Rajasthan Royals,Delhi Daredevils,Sawai Mansingh Stadium,Delhi Daredevils,field,N,Rajasthan Royals,Runs,10.0,D/L,SV Samson,"['AM Rahane', 'DJM Short', 'BA Stokes', 'SV Sa...","['GJ Maxwell', 'C Munro', 'RR Pant', 'CH Morri...",KN Ananthapadmanabhan,Nitin Menon
316,1082648,bangalore,2017-05-17,2017,Eliminator,Sunrisers Hyderabad,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,7.0,D/L,NM Coulter-Nile,"['DA Warner', 'S Dhawan', 'KS Williamson', 'Yu...","['RV Uthappa', 'CA Lynn', 'YK Pathan', 'G Gamb...",AK Chaudhary,Nitin Menon
383,980999,bangalore,2016-05-18,2016,50,Royal Challengers Bangalore,Kings XI Punjab,M Chinnaswamy Stadium,Kings XI Punjab,field,N,Royal Challengers Bangalore,Runs,82.0,D/L,V Kohli,"['CH Gayle', 'V Kohli', 'AB de Villiers', 'KL ...","['M Vijay', 'HM Amla', 'WP Saha', 'DA Miller',...",KN Ananthapadmanabhan,M Erasmus

In [85]:
ipl_match.iloc[:5, [1, 2, 3]]

          City        Date Season
282      delhi  2018-05-02   2018
296    kolkata  2018-04-21   2018
308     jaipur  2018-04-11   2018
316  bangalore  2017-05-17   2017
383  bangalore  2016-05-18   2016

In [86]:
ipl_match[['City', 'Date', 'Season']]

              City        Date   Season
282          delhi  2018-05-02     2018
296        kolkata  2018-04-21     2018
308         jaipur  2018-04-11     2018
316      bangalore  2017-05-17     2017
383      bangalore  2016-05-18     2016
384  visakhapatnam  2016-05-17     2016
389        kolkata  2016-05-14     2016
411      hyderabad  2016-04-26     2016
441      hyderabad  2015-05-15     2015
472  visakhapatnam  2015-04-22     2015
520          delhi  2014-05-10     2014
717      bangalore  2011-05-14     2011
728        kolkata  2011-05-07     2011
757          kochi  2011-04-18     2011
860      centurion  2009-05-07     2009
886         durban  2009-04-21     2009
889      cape town  2009-04-19     2009
908        kolkata  2008-05-18  2007/08
910          delhi  2008-05-17  2007/08

In [87]:
ipl_match.sort_index(ascending=False, inplace=True)

In [88]:
ipl_match[['City', 'Date', 'Season']]

              City        Date   Season
910          delhi  2008-05-17  2007/08
908        kolkata  2008-05-18  2007/08
889      cape town  2009-04-19     2009
886         durban  2009-04-21     2009
860      centurion  2009-05-07     2009
757          kochi  2011-04-18     2011
728        kolkata  2011-05-07     2011
717      bangalore  2011-05-14     2011
520          delhi  2014-05-10     2014
472  visakhapatnam  2015-04-22     2015
441      hyderabad  2015-05-15     2015
411      hyderabad  2016-04-26     2016
389        kolkata  2016-05-14     2016
384  visakhapatnam  2016-05-17     2016
383      bangalore  2016-05-18     2016
316      bangalore  2017-05-17     2017
308         jaipur  2018-04-11     2018
296        kolkata  2018-04-21     2018
282          delhi  2018-05-02     2018

In [89]:
ipl_match.values[0].shape

(20,)

In [90]:
ipl_match.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
910,336022,delhi,2008-05-17,2007/08,40,Delhi Daredevils,Kings XI Punjab,Feroz Shah Kotla,Delhi Daredevils,bat,N,Kings XI Punjab,Runs,6.0,D/L,DPMD Jayawardene,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'TM Dils...","['SE Marsh', 'JR Hopes', 'Yuvraj Singh', 'LA P...",AV Jayaprakash,RE Koertzen
908,336025,kolkata,2008-05-18,2007/08,41,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Kolkata Knight Riders,bat,N,Chennai Super Kings,Runs,3.0,D/L,M Ntini,"['Salman Butt', 'Mohammad Hafeez', 'SC Ganguly...","['PA Patel', 'SP Fleming', 'S Vidyut', 'SK Rai...",Asad Rauf,K Hariharan
889,392183,cape town,2009-04-19,2009,3,Delhi Daredevils,Kings XI Punjab,Newlands,Delhi Daredevils,field,N,Delhi Daredevils,Wickets,10.0,D/L,DL Vettori,"['G Gambhir', 'V Sehwag', 'TM Dilshan', 'AB de...","['RS Bopara', 'K Goel', 'Yuvraj Singh', 'KC Sa...",MR Benson,SD Ranade
886,392186,durban,2009-04-21,2009,6,Kings XI Punjab,Kolkata Knight Riders,Kingsmead,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Runs,11.0,D/L,CH Gayle,"['RS Bopara', 'K Goel', 'IK Pathan', 'KC Sanga...","['BB McCullum', 'CH Gayle', 'BJ Hodge', 'SC Ga...",DJ Harper,SD Ranade
860,392214,centurion,2009-05-07,2009,34,Chennai Super Kings,Kings XI Punjab,SuperSport Park,Chennai Super Kings,bat,N,Chennai Super Kings,Runs,12.0,D/L,ML Hayden,"['S Badrinath', 'ML Hayden', 'SK Raina', 'MS D...","['S Sohal', 'SM Katich', 'K Goel', 'Yuvraj Sin...",DJ Harper,TH Wijewardene

In [91]:
# filtering : 
# find all the teams that played in ahemdabad , delhi 
# how many teams won by wickets 
# find the number of teams who have won the toss as well as match

In [92]:
ipl_match[ipl_match['City'] == 'delhi']

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
910,336022,delhi,2008-05-17,2007/08,40,Delhi Daredevils,Kings XI Punjab,Feroz Shah Kotla,Delhi Daredevils,bat,N,Kings XI Punjab,Runs,6.0,D/L,DPMD Jayawardene,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'TM Dils...","['SE Marsh', 'JR Hopes', 'Yuvraj Singh', 'LA P...",AV Jayaprakash,RE Koertzen
520,733993,delhi,2014-05-10,2014,32,Delhi Daredevils,Sunrisers Hyderabad,Feroz Shah Kotla,Sunrisers Hyderabad,field,N,Sunrisers Hyderabad,Wickets,8.0,D/L,DW Steyn,"['Q de Kock', 'KP Pietersen', 'MA Agarwal', 'K...","['AJ Finch', 'S Dhawan', 'DA Warner', 'NV Ojha...",RM Deshpande,BNJ Oxenford
282,1136592,delhi,2018-05-02,2018,32,Delhi Daredevils,Rajasthan Royals,Arun Jaitley Stadium,Rajasthan Royals,field,N,Delhi Daredevils,Runs,4.0,D/L,RR Pant,"['PP Shaw', 'C Munro', 'SS Iyer', 'RR Pant', '...","['DJM Short', 'JC Buttler', 'SV Samson', 'BA S...",CK Nandan,VK Sharma

In [93]:
ipl_match[ipl_match['City'] == 'ahemdabad']

Empty DataFrame
Columns: [ID, City, Date, Season, MatchNumber, Team1, Team2, Venue, TossWinner, TossDecision, SuperOver, WinningTeam, WonBy, Margin, method, Player_of_Match, Team1Players, Team2Players, Umpire1, Umpire2]
Index: []

In [94]:
ipl_match[ipl_match['WonBy'] == 'Wickets']['WinningTeam']

889               Delhi Daredevils
757           Kochi Tuskers Kerala
717    Royal Challengers Bangalore
520            Sunrisers Hyderabad
441    Royal Challengers Bangalore
389          Kolkata Knight Riders
316          Kolkata Knight Riders
296                Kings XI Punjab
Name: WinningTeam, dtype: object

In [95]:
ipl_match[ipl_match['TossWinner'] == ipl_match['WinningTeam']].shape[0]

10

In [96]:
ipl_match

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
910,336022,delhi,2008-05-17,2007/08,40,Delhi Daredevils,Kings XI Punjab,Feroz Shah Kotla,Delhi Daredevils,bat,N,Kings XI Punjab,Runs,6.0,D/L,DPMD Jayawardene,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'TM Dils...","['SE Marsh', 'JR Hopes', 'Yuvraj Singh', 'LA P...",AV Jayaprakash,RE Koertzen
908,336025,kolkata,2008-05-18,2007/08,41,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Kolkata Knight Riders,bat,N,Chennai Super Kings,Runs,3.0,D/L,M Ntini,"['Salman Butt', 'Mohammad Hafeez', 'SC Ganguly...","['PA Patel', 'SP Fleming', 'S Vidyut', 'SK Rai...",Asad Rauf,K Hariharan
889,392183,cape town,2009-04-19,2009,3,Delhi Daredevils,Kings XI Punjab,Newlands,Delhi Daredevils,field,N,Delhi Daredevils,Wickets,10.0,D/L,DL Vettori,"['G Gambhir', 'V Sehwag', 'TM Dilshan', 'AB de...","['RS Bopara', 'K Goel', 'Yuvraj Singh', 'KC Sa...",MR Benson,SD Ranade
886,392186,durban,2009-04-21,2009,6,Kings XI Punjab,Kolkata Knight Riders,Kingsmead,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Runs,11.0,D/L,CH Gayle,"['RS Bopara', 'K Goel', 'IK Pathan', 'KC Sanga...","['BB McCullum', 'CH Gayle', 'BJ Hodge', 'SC Ga...",DJ Harper,SD Ranade
860,392214,centurion,2009-05-07,2009,34,Chennai Super Kings,Kings XI Punjab,SuperSport Park,Chennai Super Kings,bat,N,Chennai Super Kings,Runs,12.0,D/L,ML Hayden,"['S Badrinath', 'ML Hayden', 'SK Raina', 'MS D...","['S Sohal', 'SM Katich', 'K Goel', 'Yuvraj Sin...",DJ Harper,TH Wijewardene
757,501215,kochi,2011-04-18,2011,18,Kochi Tuskers Kerala,Chennai Super Kings,Nehru Stadium,Kochi Tuskers Kerala,field,N,Kochi Tuskers Kerala,Wickets,7.0,D/L,BB McCullum,"['BB McCullum', 'DPMD Jayawardene', 'PA Patel'...","['MEK Hussey', 'M Vijay', 'SK Raina', 'S Badri...",K Hariharan,AL Hill
728,501245,kolkata,2011-05-07,2011,48,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Chennai Super Kings,bat,N,Kolkata Knight Riders,Runs,10.0,D/L,Iqbal Abdulla,"['EJG Morgan', 'JH Kallis', 'G Gambhir', 'MK T...","['MEK Hussey', 'M Vijay', 'SK Raina', 'S Badri...",Asad Rauf,PR Reiffel
717,501255,bangalore,2011-05-14,2011,58,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,4.0,D/L,CH Gayle,"['CH Gayle', 'LA Pomersbach', 'V Kohli', 'AB d...","['JH Kallis', 'EJG Morgan', 'G Gambhir', 'MK T...",RE Koertzen,RB Tiffin
520,733993,delhi,2014-05-10,2014,32,Delhi Daredevils,Sunrisers Hyderabad,Feroz Shah Kotla,Sunrisers Hyderabad,field,N,Sunrisers Hyderabad,Wickets,8.0,D/L,DW Steyn,"['Q de Kock', 'KP Pietersen', 'MA Agarwal', 'K...","['AJ Finch', 'S Dhawan', 'DA Warner', 'NV Ojha...",RM Deshpande,BNJ Oxenford
472,829743,visakhapatnam,2015-04-22,2015,19,Sunrisers Hyderabad,Kolkata Knight Riders,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Kolkata Knight Riders,field,N,Sunrisers Hyderabad,Runs,16.0,D/L,DA Warner,"['S Dhawan', 'DA Warner', 'RS Bopara', 'NV Ojh...","['RV Uthappa', 'G Gambhir', 'MK Pandey', 'AD R...",RK Illingworth,VA Kulkarni
441,829807,hyderabad,2015-05-15,2015,52,Sunrisers Hyderabad,Royal Challengers Bangalore,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,bat,N,Royal Challengers Bangalore,Wickets,6.0,D/L,V Kohli,"['DA Warner', 'S Dhawan', 'MC Henriques', 'EJG...","['CH Gayle', 'V Kohli', 'AB de Villiers', 'Man...",AK Chaudhary,HDPK Dharmasena
411,980943,hyderabad,2016-04-26,2016,22,Sunrisers Hyderabad,Rising Pune Supergiants,"Rajiv Gandhi International Stadium, Uppal",Rising Pune Supergiants,field,N,Rising Pune Supergiants,Runs,34.0,D/L,AB Dinda,"['DA Warner', 'S Dhawan', 'AP Tare', 'EJG Morg...","['AM Rahane', 'F du Plessis', 'SPD Smith', 'MS...",AY Dandekar,CK Nandan
389,980989,kolkata,2016-05-14,2016,45,Kolkata Knight Riders,Rising Pune Supergiants,Eden Gardens,Rising Pune Supergiants,bat,N,Kolkata Knight Riders,Wickets,8.0,D/L,YK Pathan,"['RV Uthappa', 'G Gambhir', 'MK Pandey', 'YK P...","['AM Rahane', 'UT Khawaja', 'GJ Bailey', 'SS T...",A Nand Kishore,BNJ Oxenford
384,980997,visakhapatnam,2016-05-17,2016,49,Rising Pune Supergiants,Delhi Daredevils,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Rising Pune Supergiants,field,N,Rising Pune Supergiants,Runs,19.0,D/L,AB Dinda,"['AM Rahane', 'UT Khawaja', 'GJ Bailey', 'SS T...","['Q de Kock', 'SS Iyer', 'KK Nair', 'SV Samson...",Nitin Menon,C Shamshuddin
383,980999,bangalore,2016-05-18,2016,50,Royal Challengers Bangalore,Kings XI Punjab,M Chinnaswamy Stadium,Kings XI Punjab,field,N,Royal Challengers Bangalore,Runs,82.0,D/L,V Kohli,"['CH Gayle', 'V Kohli', 'AB de Villiers', 'KL ...","['M Vijay', 'HM Amla', 'WP Saha', 'DA Miller',...",KN Ananthapadmanabhan,M Erasmus
316,1082648,bangalore,2017-05-17,2017,Eliminator,Sunrisers Hyderabad,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,7.0,D/L,NM Coulter-Nile,"['DA Warner', 'S Dhawan', 'KS Williamson', 'Yu...","['RV Uthappa', 'CA Lynn', 'YK Pathan', 'G Gamb...",AK Chaudhary,Nitin Menon
308,1136566,jaipur,2018-04-11,2018,6,Rajasthan Royals,Delhi Daredevils,Sawai Mansingh Stadium,Delhi Daredevils,field,N,Rajasthan Royals,Runs,10.0,D/L,SV Samson,"['AM Rahane', 'DJM Short', 'BA Stokes', 'SV Sa...","['GJ Maxwell', 'C Munro', 'RR Pant', 'CH Morri...",KN Ananthapadmanabhan,Nitin Menon
296,1136578,kolkata,2018-04-21,2018,18,Kolkata Knight Riders,Kings XI Punjab,Eden Gardens,Kings XI Punjab,field,N,Kings XI Punjab,Wickets,9.0,D/L,KL Rahul,"['CA Lynn', 'SP Narine', 'RV Uthappa', 'N Rana...","['KL Rahul', 'CH Gayle', 'MA Agarwal', 'KK Nai...",A Deshmukh,C Shamshuddin
282,1136592,delhi,2018-05-02,2018,32,Delhi Daredevils,Rajasthan Royals,Arun Jaitley Stadium,Rajasthan Royals,field,N,Delhi Daredevils,Runs,4.0,D/L,RR Pant,"['PP Shaw', 'C Munro', 'SS Iyer', 'RR Pant', '...","['DJM Short', 'JC Buttler', 'SV Samson', 'BA S...",CK Nandan,VK Sharma

In [97]:
bolly.head()

                                  movie              lead
0              Uri: The Surgical Strike     vicky kaushal
1                         Battalion 609       vicky ahuja
2  The Accidental Prime Minister (film)       anupam kher
3                       Why Cheat India     emraan hashmi
4                       Evening Shadows  mona ambegaonkar

In [98]:
# # Questions : 
# 1. find the top 3 actors most of the movies they have done
# 2. find the the movies done by top 3 actors
# 3. find the number of teams who have win the tos for batting as well as won the match 
# 4. find the man of the match whose having the max margin of score 
# 5. find the first two opener of all the teams
# 6. find all the teams that played in ahemdabad , delhi 
# 7. how many teams won by wickets 
# 8. find the number of teams who have won the toss as well as match

In [99]:
ipl_match['Team1Players'].iloc[0]

"['G Gambhir', 'V Sehwag', 'S Dhawan', 'TM Dilshan', 'MF Maharoof', 'Shoaib Malik', 'PJ Sangwan', 'KD Karthik', 'A Mishra', 'R Bhatia', 'GD McGrath']"

In [100]:
movies.head()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [101]:
movies['title_x']

0                   Uri: The Surgical Strike
1                              Battalion 609
2       The Accidental Prime Minister (film)
3                            Why Cheat India
4                            Evening Shadows
                        ...
1624                   Tera Mera Saath Rahen
1625                    Yeh Zindagi Ka Safar
1626                         Sabse Bada Sukh
1627                                   Daaka
1628                                Humsafar
Name: title_x, Length: 1629, dtype: object

In [102]:
movies.iloc[0]

title_x                                      Uri: The Surgical Strike
imdb_id                                                     tt8291224
poster_path         https://upload.wikimedia.org/wikipedia/en/thum...
wiki_link           https://en.wikipedia.org/wiki/Uri:_The_Surgica...
title_y                                      Uri: The Surgical Strike
original_title                               Uri: The Surgical Strike
is_adult                                                            0
year_of_release                                                  2019
runtime                                                           138
genres                                               Action|Drama|War
imdb_rating                                                       8.4
imdb_votes                                                      35112
story               Divided over five chapters  the film chronicle...
summary             Indian army special forces execute a covert op...
tagline                                                           NaN
actors              Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...
wins_nominations                                               4 wins
release_date                                    11 January 2019 (USA)
Name: 0, dtype: object

In [103]:
movies[['title_x', 'imdb_id', 'year_of_release']]

                                   title_x     imdb_id  year_of_release
0                 Uri: The Surgical Strike   tt8291224             2019
1                            Battalion 609   tt9472208             2019
2     The Accidental Prime Minister (film)   tt6986710             2019
3                          Why Cheat India   tt8108208             2019
4                          Evening Shadows   tt6028796             2018
...                                    ...         ...              ...
1624                 Tera Mera Saath Rahen   tt0301250             2001
1625                  Yeh Zindagi Ka Safar   tt0298607             2001
1626                       Sabse Bada Sukh   tt0069204             2018
1627                                 Daaka  tt10833860             2019
1628                              Humsafar   tt2403201             2011

[1629 rows x 3 columns]

In [104]:
movies['title_x'] = movies['title_x'].astype(str)

In [105]:
categorical_features = []
numerical_features = []
for col in movies.columns:
    if movies[col].dtypes == object:
        categorical_features.append(col)
    else:
        numerical_features.append(col)

In [106]:
categorical_features

['title_x',
 'imdb_id',
 'poster_path',
 'wiki_link',
 'title_y',
 'original_title',
 'runtime',
 'genres',
 'story',
 'summary',
 'tagline',
 'actors',
 'wins_nominations',
 'release_date']

In [107]:
numerical_features

['is_adult', 'year_of_release', 'imdb_rating', 'imdb_votes']

In [108]:
(movies.isnull().sum()/movies.shape[0])*100

title_x              0.000000
imdb_id              0.000000
poster_path          6.322897
wiki_link            0.000000
title_y              0.000000
original_title       0.000000
is_adult             0.000000
year_of_release      0.000000
runtime              0.000000
genres               0.000000
imdb_rating          0.000000
imdb_votes           0.000000
story                1.227747
summary              0.000000
tagline             65.807244
actors               0.306937
wins_nominations    56.599141
release_date         6.568447
dtype: float64

In [109]:
movies.duplicated().sum()

0

In [110]:
movies.drop_duplicates(inplace = True)

In [111]:
movies.shape

(1629, 18)

In [112]:
movies.head()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [116]:
movies['release_date'].unique()

array(['11 January 2019 (USA)', '11 January 2019 (India)',
       '18 January 2019 (USA)', ..., '12 October 2001 (India)',
       '7 November 2001 (India)', 'TV Series (2011â€“2012)'], dtype=object)

In [119]:
movies[movies['release_date'] == 'TV Series (2011â€“2012)']

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
1628,Humsafar,tt2403201,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Humsafar,Humsafar,Humsafar,0,2011,35,Drama|Romance,9.0,2968,Sara and Ashar are childhood friends who share...,Ashar and Khirad are forced to get married due...,NaN,Fawad Khan|,NaN,TV Series (2011â€“2012)

In [125]:
movies['release_date'].str.split("(")[3][0]

'18 January 2019 '

In [127]:
movies['release_date'][0]

'11 January 2019 (USA)'

In [128]:
for i in range(movies.shape[0]):
    movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]

C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]
C:\Users\tbaka\AppData\Local\Temp\ipykernel_316\304868341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]

TypeError: 'float' object is not subscriptable

In [133]:
removed_nan_data = movies.dropna()

In [134]:
# movies

In [135]:
removed_nan_data

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
11,Gully Boy,tt2395469,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Gully_Boy,Gully Boy,Gully Boy,0,2019,153,Drama|Music,8.2,22440,"Gully Boy is a film about a 22-year-old boy ""M...",A coming-of-age story based on the lives of st...,Apna Time Aayega!,Ranveer Singh|Alia Bhatt|Siddhant Chaturvedi|V...,6 wins & 3 nominations,14 February 2019
34,Yeh Hai India,tt5525846,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Hai_India,Yeh Hai India,Yeh Hai India,0,2017,128,Action|Adventure|Drama,5.7,169,Yeh Hai India follows the story of a 25 years...,Yeh Hai India follows the story of a 25 years...,A Film for Every Indian,Gavie Chahal|Mohan Agashe|Mohan Joshi|Lom Harsh|,2 wins & 1 nomination,24 May 2019
37,Article 15 (film),tt10324144,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Article_15_(film),Article 15,Article 15,0,2019,130,Crime|Drama,8.3,13417,In the rural heartlands of India an upright p...,In the rural heartlands of India an upright p...,Farq Bahut Kar Liya| Ab Farq Laayenge.,Ayushmann Khurrana|Nassar|Manoj Pahwa|Kumud Mi...,1 win,28 June 2019
87,Aiyaary,tt6774212,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Aiyaary,Aiyaary,Aiyaary,0,2018,157,Action|Thriller,5.2,3538,General Gurinder Singh comes with a proposal t...,After finding out about an illegal arms deal ...,The Ultimate Trickery,Sidharth Malhotra|Manoj Bajpayee|Rakul Preet S...,1 nomination,16 February 2018 (USA)
96,Raid (2018 film),tt7363076,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Raid_(2018_film),Raid,Raid,0,2018,122,Action|Crime|Drama,7.4,13159,Set in the 80s in Uttar Pradesh India Raid i...,A fearless income tax officer raids the mansio...,Heroes don't always come in uniform,Ajay Devgn|Saurabh Shukla|Ileana D'Cruz|Amit S...,2 wins & 3 nominations,16 March 2018 (India)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1600,Kasoor,tt0272688,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Kasoor,Kasoor,Kasoor,0,2001,151,Drama|Mystery|Thriller,6.0,801,Shekar Saxena is arrested and charged with the...,Shekhar appoints Simran a lawyer with an impe...,A dangerous passion...,Divya Dutta|Sucheta Paushe|Lisa Ray|Apoorva Ag...,2 nominations,2 February 2001 (India)
1601,Maya (2001 film),tt0299027,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Maya_(2001_film),Maya,Maya,0,2001,105,Drama,7.0,277,For 12 year-old Maya life is very simple in h...,MAYA is a coming of age story set against an '...,A child's innocence shattered by unreal tradit...,Anant Nag|Mita Vasisht|Nitya Shetty|Nikhil Yad...,2 wins & 4 nominations,16 January 2002 (Belgium)
1607,Nayak (2001 Hindi film),tt0291376,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Nayak_(2001_Hind...,Nayak: The Real Hero,Nayak: The Real Hero,0,2001,187,Action|Drama|Thriller,7.8,12522,Employed as a camera-man at a popular televisi...,A man accepts a challenge by the chief ministe...,Fight the power,Anil Kapoor|Rani Mukerji|Amrish Puri|Johnny Le...,2 nominations,7 September 2001 (India)
1621,Tum Bin,tt0290326,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Tum_Bin,Tum Bin...: Love Will Find a Way,Tum Bin...: Love Will Find a Way,0,2001,158,Drama|Romance,7.5,2879,Shekar and Amar meet at a party where Amar ask...,Shekhar accidentally kills his associate Amar ...,Love will find a way,Priyanshu Chatterjee|Himanshu Malik|Sandali Si...,6 nominations,13 July 2001 (India)
1623,Zubeidaa,tt0255713,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Zubeidaa,Zubeidaa,Zubeidaa,0,2001,153,Biography|Drama|History,6.2,1384,The film begins with Riyaz (Rajat Kapoor) Zub...,Zubeidaa an aspiring Muslim actress marries ...,The Story of a Princess,Karisma Kapoor|Rekha|Manoj Bajpayee|Rajit Kapo...,3 wins & 13 nominations,19 January 2001 (India)

In [136]:
removed_nan_data.isnull().sum()

title_x             0
imdb_id             0
poster_path         0
wiki_link           0
title_y             0
original_title      0
is_adult            0
year_of_release     0
runtime             0
genres              0
imdb_rating         0
imdb_votes          0
story               0
summary             0
tagline             0
actors              0
wins_nominations    0
release_date        0
dtype: int64

In [137]:
removed_nan_data['release_date']

array(['14 February 2019 ', '24 May 2019 ', '28 June 2019 ',
       '16 February 2018 (USA)', '16 March 2018 (India)',
       '30 March 2018 (USA)', '13 April 2018 (USA)', '4 May 2018 (India)',
       '11 May 2018 (USA)', '1 June 2018 (USA)', '29 June 2018 (USA)',
       '15 August 2018 (USA)', '22 December 2017 (USA)',
       '20 October 2017 (USA)', '13 January 2017 (USA)',
       '27 January 2017 (USA)', '25 January 2017 (USA)',
       '17 February 2017 (USA)', '24 February 2017 (USA)',
       '31 March 2017 (USA)', '21 April 2017 (USA)', '23 June 2017 (USA)',
       '4 August 2017 (USA)', '11 August 2017 (India)',
       '25 August 2017 (India)', '1 September 2017 (USA)',
       '22 September 2017 (India)', '22 September 2017 (USA)',
       '21 September 2017 (Kuwait)', '15 December 2017 (India)',
       '24 November 2017 (India)', '15 January 2016 (India)',
       '22 January 2016 (USA)', '12 February 2016 (USA)',
       '12 February 2016 (India)', '19 February 2016 (USA)',
       '18 March 2016 (USA)', '15 April 2016 (USA)', '6 July 2016 (USA)',
       '17 June 2016 (USA)', '30 September 2016 (USA)',
       '28 October 2016 (USA)', '18 November 2016 (USA)',
       '21 December 2016 (USA)', '7 October 2016 (USA)',
       '23 January 2015 (India)', '16 January 2015 (India)',
       '30 January 2015 (India)', '20 February 2015 (USA)',
       '13 March 2015 (India)', '8 May 2015 (USA)',
       '24 July 2015 (India)', '31 July 2015 (USA)',
       '21 August 2015 (India)', '28 August 2015 (India)',
       '20 June 2014 (USA)', '6 November 2015 (India)',
       '24 January 2014 (USA)', '7 February 2014 (USA)',
       '7 March 2014 (India)', '21 March 2014 (India)',
       '11 April 2014 (India)', '9 May 2014 (USA)',
       '20 June 2014 (India)', '6 June 2014 (India)',
       '12 September 2014 (USA)', '17 October 2014 (India)',
       '7 November 2014 (India)', '28 November 2014 (India)',
       '5 December 2014 (India)', '7 November 2014 (USA)',
       '25 January 2013 (USA)', '1 February 2013 (India)',
       '8 February 2013 (India)', '22 February 2013 (India)',
       '15 March 2013 (India)', '26 April 2013 (India)',
       '29 March 2013 (USA)', '12 April 2013 (India)',
       '17 May 2013 (USA)', '12 July 2013 (USA)', '21 June 2013 (India)',
       '19 July 2013 (India)', '8 August 2013 (USA)',
       '20 September 2013 (India)', '18 October 2013 (India)',
       '25 October 2013 (India)', '20 December 2013 (India)',
       '17 February 2012 (India)', '24 February 2012 (USA)',
       '9 March 2012 (India)', '11 May 2012 (India)',
       '22 June 2012 (India)', '13 July 2012 (India)',
       '31 August 2012 (India)', '21 September 2012 (India)',
       '28 September 2012 (India)', '12 October 2012 (India)',
       '30 November 2012 (India)', '13 November 2012 (India)',
       '5 April 2012 (India)', '6 July 2012 (India)',
       '25 February 2011 (India)', '8 April 2011 (USA)',
       '13 May 2011 (India)', '1 July 2011 (USA)',
       '30 September 2011 (India)', '26 October 2011 (India)',
       '1 April 2011 (India)', '8 January 2010 (India)',
       '12 February 2010 (USA)', '23 December 2011 (India)',
       '19 March 2010 (India)', '30 April 2010 (India)',
       '7 May 2010 (India)', '9 April 2010 (India)', '18 June 2010 (USA)',
       '16 July 2010 (India)', '30 July 2010 (India)',
       '20 August 2010 (India)', '1 October 2010 (India)',
       '15 October 2010 (India)', '19 November 2010 (India)',
       '26 November 2010 (India)', '24 December 2010 (India)',
       '5 November 2010 (India)', '25 December 2009 (India)',
       '25 September 2009 (USA)', '20 February 2009 (India)',
       '14 August 2009 (India)', '13 March 2009 (India)',
       '20 March 2009 (India)', '26 June 2009 (India)',
       '16 October 2009 (USA)', '30 October 2009 (India)',
       '20 November 2009 (India)', '27 November 2009 (USA)',
       '4 December 2009 (USA)', '16 January 2009 (USA)',
       '14 November 2008 (India)', '12 December 2008 (USA)',
       '24 December 2008 (USA)', '8 August 2008 (USA)',
       '6 June 2008 (India)', '11 April 2008 (USA)',
       '16 May 2008 (India)', '28 June 2008 (USA)',
       '22 August 2008 (India)', '29 August 2008 (USA)',
       '24 October 2008 (India)', '21 November 2008 (USA)',
       '9 March 2007 (India)', 'April 2008 (USA)',
       '9 February 2007 (India)', '25 May 2007 (India)',
       '10 August 2007 (India)', '16 February 2007 (India)',
       '12 January 2007 (India)', '11 May 2007 (India)',
       '21 September 2007 (India)', '6 April 2007 (USA)',
       '23 March 2007 (India)', '9 November 2007 (India)',
       '14 September 2007 (India)', '21 December 2007 (India)',
       '21 April 2006 (India)', '3 February 2006 (India)',
       '10 November 2006 (India)', '19 May 2006 (USA)',
       '4 May 2007 (India)', '24 March 2006 (India)',
       '24 November 2006 (India)', '22 September 2006 (India)',
       '20 October 2006 (India)', '26 May 2006 (India)',
       '28 April 2006 (India)', '14 July 2006 (India)',
       '1 September 2006 (USA)', '15 December 2006 (UK)',
       '23 June 2006 (India)', '15 September 2006 (USA)',
       '9 June 2006 (USA)', '26 January 2006 (USA)',
       '30 December 2005 (USA)', '24 February 2006 (USA)',
       '2 September 2005 (India)', '4 February 2005 (USA)',
       '12 January 2006 (India)', '16 December 2005 (USA)',
       '27 May 2005 (India)', '8 July 2005 (India)',
       '3 November 2005 (India)', '15 April 2005 (India)',
       '29 April 2005 (USA)', '9 December 2005 (India)',
       '8 April 2005 (India)', '15 July 2005 (India)',
       '12 August 2005 (India)', '20 May 2005 (India)',
       '21 January 2005 (India)', '18 March 2005 (USA)',
       '24 June 2005 (India)', '9 September 2005 (India)',
       '1 July 2005 (India)', 'May 2006 (Pakistan)',
       '22 July 2005 (India)', '22 April 2005 (India)',
       '25 March 2005 (India)', '12 November 2004 (India)',
       '30 April 2004 (India)', '30 July 2004 (USA)',
       '27 August 2004 (India)', '23 January 2004 (USA)',
       '26 November 2004 (India)', '2 April 2004 (India)',
       '12 November 2004 (USA)', '24 December 2004 (India)',
       '31 December 2003 (India)', '25 June 2004 (India)',
       '11 June 2004 (India)', '24 September 2004 (India)',
       '17 January 2008 (USA)', '2 July 2004 (India)',
       '18 June 2004 (USA)', '10 December 2004 (India)',
       '13 May 2005 (India)', '17 December 2004 (India)',
       '8 August 2003 (USA)', '28 November 2003 (India)',
       '13 June 2003 (India)', '10 April 2003 (India)',
       '3 October 2003 (India)', '12 December 2003 (India)',
       '19 December 2003 (India)', '23 May 2003 (USA)',
       '16 May 2003 (USA)', '25 July 2003 (India)', 'August 2003 (UK)',
       '24 January 2003 (India)', '16 July 2004 (USA)',
       '24 October 2003 (India)', '20 June 2003 (India)',
       '10 October 2003 (India)', '26 August 2003 (India)',
       '26 September 2003 (India)', '7 February 2003 (India)',
       '15 August 2003 (India)', '21 November 2003 (India)',
       '12 March 2002 (Kuwait)', '14 November 2003 (India)',
       '12 July 2002 (India)', '20 December 2002 (India)',
       '5 April 2002 (India)', '15 April 2002 (India)',
       '30 August 2002 (India)', 'December 2002 (USA)',
       '1 February 2002 (India)', '7 June 2002 (India)',
       '10 May 2002 (India)', '27 September 2002 (USA)',
       '20 September 2002 (India)', '13 September 2002 (India)',
       '14 December 2001 (USA)', '15 June 2001 (USA)',
       '15 June 2001 (India)', '10 August 2001 (India)',
       '27 June 2001 (India)', '19 September 2001 (Kuwait)',
       '16 November 2001 (India)', '13 July 2001 (India)',
       '21 September 2001 (India)', '26 October 2001 (India)',
       '4 May 2001 (India)', '2 February 2001 (India)',
       '16 January 2002 (Belgium)', '7 September 2001 (India)',
       '19 January 2001 (India)'], dtype=object)

In [144]:
removed_nan_data['release_date'].iloc[3].split("(")[0]

'16 February 2018 '

In [147]:
for i in range(removed_nan_data.shape[0]):
    removed_nan_data['release_date'].iloc[i] = removed_nan_data['release_date'].iloc[i].split("(")[0]

In [148]:
removed_nan_data.head()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
11,Gully Boy,tt2395469,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Gully_Boy,Gully Boy,Gully Boy,0,2019,153,Drama|Music,8.2,22440,"Gully Boy is a film about a 22-year-old boy ""M...",A coming-of-age story based on the lives of st...,Apna Time Aayega!,Ranveer Singh|Alia Bhatt|Siddhant Chaturvedi|V...,6 wins & 3 nominations,14 February 2019
34,Yeh Hai India,tt5525846,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Hai_India,Yeh Hai India,Yeh Hai India,0,2017,128,Action|Adventure|Drama,5.7,169,Yeh Hai India follows the story of a 25 years...,Yeh Hai India follows the story of a 25 years...,A Film for Every Indian,Gavie Chahal|Mohan Agashe|Mohan Joshi|Lom Harsh|,2 wins & 1 nomination,24 May 2019
37,Article 15 (film),tt10324144,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Article_15_(film),Article 15,Article 15,0,2019,130,Crime|Drama,8.3,13417,In the rural heartlands of India an upright p...,In the rural heartlands of India an upright p...,Farq Bahut Kar Liya| Ab Farq Laayenge.,Ayushmann Khurrana|Nassar|Manoj Pahwa|Kumud Mi...,1 win,28 June 2019
87,Aiyaary,tt6774212,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Aiyaary,Aiyaary,Aiyaary,0,2018,157,Action|Thriller,5.2,3538,General Gurinder Singh comes with a proposal t...,After finding out about an illegal arms deal ...,The Ultimate Trickery,Sidharth Malhotra|Manoj Bajpayee|Rakul Preet S...,1 nomination,16 February 2018
96,Raid (2018 film),tt7363076,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Raid_(2018_film),Raid,Raid,0,2018,122,Action|Crime|Drama,7.4,13159,Set in the 80s in Uttar Pradesh India Raid i...,A fearless income tax officer raids the mansio...,Heroes don't always come in uniform,Ajay Devgn|Saurabh Shukla|Ileana D'Cruz|Amit S...,2 wins & 3 nominations,16 March 2018

In [149]:
removed_nan_data = movies.dropna()

In [150]:
removed_nan_data

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
11,Gully Boy,tt2395469,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Gully_Boy,Gully Boy,Gully Boy,0,2019,153,Drama|Music,8.2,22440,"Gully Boy is a film about a 22-year-old boy ""M...",A coming-of-age story based on the lives of st...,Apna Time Aayega!,Ranveer Singh|Alia Bhatt|Siddhant Chaturvedi|V...,6 wins & 3 nominations,14 February 2019
34,Yeh Hai India,tt5525846,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Hai_India,Yeh Hai India,Yeh Hai India,0,2017,128,Action|Adventure|Drama,5.7,169,Yeh Hai India follows the story of a 25 years...,Yeh Hai India follows the story of a 25 years...,A Film for Every Indian,Gavie Chahal|Mohan Agashe|Mohan Joshi|Lom Harsh|,2 wins & 1 nomination,24 May 2019
37,Article 15 (film),tt10324144,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Article_15_(film),Article 15,Article 15,0,2019,130,Crime|Drama,8.3,13417,In the rural heartlands of India an upright p...,In the rural heartlands of India an upright p...,Farq Bahut Kar Liya| Ab Farq Laayenge.,Ayushmann Khurrana|Nassar|Manoj Pahwa|Kumud Mi...,1 win,28 June 2019
87,Aiyaary,tt6774212,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Aiyaary,Aiyaary,Aiyaary,0,2018,157,Action|Thriller,5.2,3538,General Gurinder Singh comes with a proposal t...,After finding out about an illegal arms deal ...,The Ultimate Trickery,Sidharth Malhotra|Manoj Bajpayee|Rakul Preet S...,1 nomination,16 February 2018 (USA)
96,Raid (2018 film),tt7363076,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Raid_(2018_film),Raid,Raid,0,2018,122,Action|Crime|Drama,7.4,13159,Set in the 80s in Uttar Pradesh India Raid i...,A fearless income tax officer raids the mansio...,Heroes don't always come in uniform,Ajay Devgn|Saurabh Shukla|Ileana D'Cruz|Amit S...,2 wins & 3 nominations,16 March 2018 (India)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1600,Kasoor,tt0272688,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Kasoor,Kasoor,Kasoor,0,2001,151,Drama|Mystery|Thriller,6.0,801,Shekar Saxena is arrested and charged with the...,Shekhar appoints Simran a lawyer with an impe...,A dangerous passion...,Divya Dutta|Sucheta Paushe|Lisa Ray|Apoorva Ag...,2 nominations,2 February 2001 (India)
1601,Maya (2001 film),tt0299027,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Maya_(2001_film),Maya,Maya,0,2001,105,Drama,7.0,277,For 12 year-old Maya life is very simple in h...,MAYA is a coming of age story set against an '...,A child's innocence shattered by unreal tradit...,Anant Nag|Mita Vasisht|Nitya Shetty|Nikhil Yad...,2 wins & 4 nominations,16 January 2002 (Belgium)
1607,Nayak (2001 Hindi film),tt0291376,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Nayak_(2001_Hind...,Nayak: The Real Hero,Nayak: The Real Hero,0,2001,187,Action|Drama|Thriller,7.8,12522,Employed as a camera-man at a popular televisi...,A man accepts a challenge by the chief ministe...,Fight the power,Anil Kapoor|Rani Mukerji|Amrish Puri|Johnny Le...,2 nominations,7 September 2001 (India)
1621,Tum Bin,tt0290326,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Tum_Bin,Tum Bin...: Love Will Find a Way,Tum Bin...: Love Will Find a Way,0,2001,158,Drama|Romance,7.5,2879,Shekar and Amar meet at a party where Amar ask...,Shekhar accidentally kills his associate Amar ...,Love will find a way,Priyanshu Chatterjee|Himanshu Malik|Sandali Si...,6 nominations,13 July 2001 (India)
1623,Zubeidaa,tt0255713,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Zubeidaa,Zubeidaa,Zubeidaa,0,2001,153,Biography|Drama|History,6.2,1384,The film begins with Riyaz (Rajat Kapoor) Zub...,Zubeidaa an aspiring Muslim actress marries ...,The Story of a Princess,Karisma Kapoor|Rekha|Manoj Bajpayee|Rajit Kapo...,3 wins & 13 nominations,19 January 2001 (India)

In [166]:
for i in range(removed_nan_data.shape[0]):
    removed_nan_data['release_date'].iloc[i] = removed_nan_data['release_date'].iloc[i].split("(")[0]

In [169]:
for i in range(removed_nan_data.shape[0]):
    removed_nan_data['country'][i] = removed_nan_data['release_date'].iloc[i].split("(")[1][:-1]

IndexError: list index out of range

In [178]:
l = removed_nan_data['country'].unique()

In [181]:
for i in l:
    print(i.split("("))
    break

['14 February 2019 ']

In [182]:
# # Questions : 
# 1. find the top 3 actors most of the movies they have done
# 2. find the the movies done by top 3 actors
# 3. find the number of teams who have win the tos for batting as well as won the match 
# 4. find the man of the match whose having the max margin of score 
# 5. find the first two opener of all the teams
# 6. find all the teams that played in ahemdabad , delhi 
# 7. how many teams won by wickets 
# 8. find the number of teams who have won the toss as well as match

In [183]:
bolly.head()

                                  movie              lead
0              Uri: The Surgical Strike     vicky kaushal
1                         Battalion 609       vicky ahuja
2  The Accidental Prime Minister (film)       anupam kher
3                       Why Cheat India     emraan hashmi
4                       Evening Shadows  mona ambegaonkar

In [195]:
l = list(bolly['lead'].value_counts() >= 20)

In [188]:
bolly['movie'].unique()

1497

In [187]:
bolly['movie'].nunique()

1497

In [200]:
bolly['lead'].value_counts()[bolly['lead'].value_counts() >= 20]

lead
akshay kumar        48
amitabh bachchan    45
ajay devgn          38
salman khan         31
sanjay dutt         26
shah rukh khan      22
emraan hashmi       21
Name: count, dtype: int64

In [215]:
bolly[bolly['lead'] == 'ajay devgn']

                                 movie        lead
13                       Total Dhamaal  ajay devgn
32                      De De Pyaar De  ajay devgn
96                    Raid (2018 film)  ajay devgn
160                      Golmaal Again  ajay devgn
341                            Shivaay  ajay devgn
426               Drishyam (2015 film)  ajay devgn
594             Himmatwala (2013 film)  ajay devgn
731                     Son of Sardaar  ajay devgn
744              Dil Toh Baccha Hai Ji  ajay devgn
785                            Singham  ajay devgn
818                Rascals (2011 film)  ajay devgn
872        Once Upon a Time in Mumbaai  ajay devgn
888                Aakrosh (2010 film)  ajay devgn
905              Toonpur Ka Super Hero  ajay devgn
982                    Golmaal Returns  ajay devgn
987                          Halla Bol  ajay devgn
991                 Sunday (2008 film)  ajay devgn
994                       U Me Aur Hum  ajay devgn
1063                  Cash (2007 film)  ajay devgn
1170            Golmaal: Fun Unlimited  ajay devgn
1173  Dharti Kahe Pukar Ke (2006 film)  ajay devgn
1190                Omkara (2006 film)  ajay devgn
1205                    Shikhar (film)  ajay devgn
1222                          Apaharan  ajay devgn
1233             Blackmail (2005 film)  ajay devgn
1262                  Kaal (2005 film)  ajay devgn
1274                 Main Aisa Hi Hoon  ajay devgn
1306                     Tango Charlie  ajay devgn
1319           Zameer: The Fire Within  ajay devgn
1326                              Yuva  ajay devgn
1383                   Raincoat (film)  ajay devgn
1409        Qayamat: City Under Threat  ajay devgn
1414                      Bhoot (film)  ajay devgn
1420           Chori Chori (2003 film)  ajay devgn
1437                         Gangaajal  ajay devgn
1469               Parwana (2003 film)  ajay devgn
1491                Zameen (2003 film)  ajay devgn
1498                    Company (film)  ajay devgn

In [203]:
ipl_match.shape

(19, 20)

In [206]:
# ipl_match[['City', 'Team1', 'Team2']]

In [204]:
ipl_match = pd.read_csv('ipl-matches.csv')

In [205]:
ipl_match.isnull().sum()

ID                   0
City                51
Date                 0
Season               0
MatchNumber          0
Team1                0
Team2                0
Venue                0
TossWinner           0
TossDecision         0
SuperOver            4
WinningTeam          4
WonBy                0
Margin              18
method             931
Player_of_Match      4
Team1Players         0
Team2Players         0
Umpire1              0
Umpire2              0
dtype: int64

In [211]:
ipl_match.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [212]:
ipl_match[ipl_match['City'] == 'Kolkata']

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
207,1178422,Kolkata,2019-04-28,2019,47,Kolkata Knight Riders,Mumbai Indians,Eden Gardens,Mumbai Indians,field,N,Kolkata Knight Riders,Runs,34.0,NaN,AD Russell,"['Shubman Gill', 'CA Lynn', 'AD Russell', 'KD ...","['Q de Kock', 'RG Sharma', 'E Lewis', 'SA Yada...",IJ Gould,Nitin Menon
211,1178418,Kolkata,2019-04-25,2019,43,Kolkata Knight Riders,Rajasthan Royals,Eden Gardens,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,3.0,NaN,VR Aaron,"['CA Lynn', 'Shubman Gill', 'N Rana', 'KD Kart...","['AM Rahane', 'SV Samson', 'SPD Smith', 'BA St...",AY Dandekar,IJ Gould
219,1178410,Kolkata,2019-04-19,2019,35,Royal Challengers Bangalore,Kolkata Knight Riders,Eden Gardens,Kolkata Knight Riders,field,N,Royal Challengers Bangalore,Runs,10.0,NaN,V Kohli,"['PA Patel', 'V Kohli', 'AD Nath', 'MM Ali', '...","['CA Lynn', 'SP Narine', 'Shubman Gill', 'RV U...",IJ Gould,Nitin Menon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908,336025,Kolkata,2008-05-18,2007/08,41,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Kolkata Knight Riders,bat,N,Chennai Super Kings,Runs,3.0,D/L,M Ntini,"['Salman Butt', 'Mohammad Hafeez', 'SC Ganguly...","['PA Patel', 'SP Fleming', 'S Vidyut', 'SK Rai...",Asad Rauf,K Hariharan
915,336017,Kolkata,2008-05-13,2007/08,35,Kolkata Knight Riders,Delhi Daredevils,Eden Gardens,Kolkata Knight Riders,bat,N,Kolkata Knight Riders,Runs,23.0,NaN,Shoaib Akhtar,"['Salman Butt', 'A Chopra', 'SC Ganguly', 'DJ ...","['G Gambhir', 'V Sehwag', 'AB de Villiers', 'M...",Asad Rauf,IL Howell
922,336010,Kolkata,2008-05-08,2007/08,29,Kolkata Knight Riders,Royal Challengers Bangalore,Eden Gardens,Kolkata Knight Riders,bat,N,Kolkata Knight Riders,Runs,5.0,NaN,SC Ganguly,"['A Chopra', 'BJ Hodge', 'SC Ganguly', 'DJ Hus...","['J Arunkumar', 'S Chanderpaul', 'MV Boucher',...",Asad Rauf,IL Howell
934,335997,Kolkata,2008-04-29,2007/08,16,Kolkata Knight Riders,Mumbai Indians,Eden Gardens,Kolkata Knight Riders,bat,N,Mumbai Indians,Wickets,7.0,NaN,ST Jayasuriya,"['BB McCullum', 'SC Ganguly', 'RT Ponting', 'D...","['AM Rahane', 'ST Jayasuriya', 'MK Pandey', 'R...",BF Bowden,AV Jayaprakash
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan

In [216]:
ipl_match.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [218]:
new_data = ipl_match[['TossWinner', 'TossDecision', 'WinningTeam']]

In [228]:
l = list(new_data[new_data['TossDecision'] == 'bat']['TossWinner'] == new_data[new_data['TossDecision'] == 'bat']['WinningTeam'])

In [229]:
count = 0
for i in l:
    if i == True:
        count+=1
print(count)

159

In [231]:
# 4. find the man of the match whose having the max margin of score

In [235]:
ipl_match[['Margin', 'Player_of_Match']]['Margin'].sort_values(ascending=False)

329    146.0
388    144.0
949    140.0
453    138.0
597    130.0
       ...
608      NaN
621      NaN
708      NaN
819      NaN
883      NaN
Name: Margin, Length: 950, dtype: float64

In [237]:
ipl_match[ipl_match['Margin'] == 146.0]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
329,1082635,Delhi,2017-05-06,2017,45,Delhi Daredevils,Mumbai Indians,Feroz Shah Kotla,Delhi Daredevils,field,N,Mumbai Indians,Runs,146.0,NaN,LMP Simmons,"['SV Samson', 'KK Nair', 'SS Iyer', 'RR Pant',...","['LMP Simmons', 'PA Patel', 'KA Pollard', 'RG ...",Nitin Menon,CK Nandan

In [238]:
# 5. find the first two opener of all the teams
# 6. find all the teams that played in ahemdabad , delhi 
# 7. how many teams won by wickets