In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
singers = ['travis Scott', 'pawan singh', 'manish yadav', 'vansh tomar', 'arijit singh']

In [3]:
pd.Series(singers)

0    travis Scott
1     pawan singh
2    manish yadav
3     vansh tomar
4    arijit singh
dtype: object

In [4]:
runs = [10, 20, 15, 5, 7, 0, 30]

In [5]:
pd.Series(runs, name = 'No_of_runs')

0    10
1    20
2    15
3     5
4     7
5     0
6    30
Name: No_of_runs, dtype: int64

In [6]:
singers = ['travis Scott', 'pawan singh', 'manish yadav', 'vansh tomar', 'arijit singh']
pop = [100, 90, 150, 20, 1000]

In [7]:
pd.Series(pop, index = singers, name = 'popularity of all singers')

travis Scott     100
pawan singh       90
manish yadav     150
vansh tomar       20
arijit singh    1000
Name: popularity of all singers, dtype: int64

In [8]:
marks = {
    'python' : 60,
    'cloud' : 40,
    'Ml' : 50,
    'Dl' : 90,
    'dsa' : 70
}
marks['Dl']

90

In [9]:
marks_series = pd.Series(marks, name = 'marks of vansh')

In [10]:
marks_series.size

5

In [11]:
marks_series.dtype

dtype('int64')

In [12]:
marks_series[1]

40

In [13]:
for i in marks_series.index:
    print(i)

python
cloud
Ml
Dl
dsa

In [14]:
subs = pd.read_csv('subs.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'subs.csv'

In [ ]:
subs.head()

In [ ]:
subs

In [ ]:
subs.head(7)

In [ ]:
subs.tail(10)

In [ ]:
kohli_df = pd.read_csv('kohli_ipl.csv', index_col='match_no')

In [ ]:
kohli_df.head()

In [ ]:
kohli_df.ndim

In [ ]:
kohli_df.shape

In [ ]:
# kohli_df.values

In [ ]:
movies = pd.read_csv('bollywood.csv')

In [ ]:
movies.head()

In [ ]:
movies.reset_index()

In [ ]:
movies.sample(5)

In [ ]:
movies.head()

In [ ]:
# finding how many movies done by vicky kaushal

In [ ]:
movies.value_counts()

In [ ]:
movies['lead'].value_counts()

In [ ]:
movies['movie'].value_counts()

In [ ]:
kohli_df = kohli_df.reset_index()

In [ ]:
kohli_df

In [ ]:
kohli_df['runs'].sort_index(ascending=False)

In [ ]:
kohli_df.size

In [ ]:
kohli_df.shape

In [ ]:
215*2

In [ ]:
movies = pd.read_csv('movies.csv')

In [ ]:
movies.head()

In [ ]:
movies.info()

In [ ]:
print("all columns : ")
for i in movies.columns:
    print(i)

In [ ]:
movies = pd.read_csv('bollywood.csv')

In [ ]:
movies.info()

In [ ]:
movies.describe()

In [ ]:
movies['lead'].value_counts()[movies['lead'].value_counts() > 30]

In [ ]:
# astype
# drop_duplicates
# isnull
# dropna
# fillna
# isin
# apply
# copy

In [ ]:
# movies.astype?

In [ ]:
movies = pd.read_csv('movies.csv')

In [ ]:
numerical_col = []
categorical_col = []
for col in movies.columns:
    if movies[col].dtypes == object:
        categorical_col.append(col)
    else:
        numerical_col.append(col)

In [ ]:
numerical_col

In [ ]:
categorical_col

In [ ]:
movies['title_x'] = movies['title_x'].astype(str)

In [ ]:
movies.head()

In [ ]:
movies.duplicated().sum()

In [ ]:
movies.drop_duplicates(inplace = True)

In [ ]:
(movies.isnull().sum()/movies.shape[0])*100

In [ ]:
movies.shape[0]

In [ ]:
(103/1629)*100

In [ ]:
# movies.dropna(inplace = True)

In [ ]:
ipl_match = pd.read_csv('ipl-matches.csv')

In [ ]:
ipl_match.head()

In [ ]:
ipl_match.isnull().sum()

In [ ]:
ipl_match.shape

In [ ]:
ipl_match.info()

In [ ]:
(ipl_match['Margin'].isnull().sum()/ipl_match.shape[0])*100

In [ ]:
margin_mean = ipl_match['Margin'].mean()

In [ ]:
margin_median = ipl_match['Margin'].median()

In [ ]:
# ipl_match['Margin'] = ipl_match['Margin'].fillna(margin_mean)
ipl_match['Margin'].fillna(margin_median, inplace=True)

In [ ]:
(ipl_match['Margin'].isnull().sum()/ipl_match.shape[0])*100

In [ ]:
ipl_match.isin(['Delhi', 'Rajasthan Royals'])

In [ ]:
ipl_match['City'].isnull().sum()

In [ ]:
bolly = pd.read_csv('bollywood.csv')

In [ ]:
bolly.head()

In [ ]:
bolly.info()

In [ ]:
bolly['lead'] = bolly['lead'].apply(lambda x : x.lower())

In [ ]:
bolly.head()

In [ ]:
ipl_match.drop_duplicates(inplace=True)

In [ ]:
ipl_match.dropna(inplace=True)

In [ ]:
ipl_match.isnull().sum()

In [ ]:
ipl_match['City']

In [ ]:
ipl_match.shape

In [ ]:
for i in range(ipl_match.shape[0]):
    ipl_match['City'].iloc[i] = ipl_match['City'].iloc[i].lower()

In [ ]:
ipl_match.head()

In [ ]:
ipl_match.iloc[:5, [1, 2, 3]]

In [ ]:
ipl_match[['City', 'Date', 'Season']]

In [ ]:
ipl_match.sort_index(ascending=False, inplace=True)

In [ ]:
ipl_match[['City', 'Date', 'Season']]

In [ ]:
ipl_match.values[0].shape

In [ ]:
ipl_match.head()

In [ ]:
# filtering : 
# find all the teams that played in ahemdabad , delhi 
# how many teams won by wickets 
# find the number of teams who have won the toss as well as match

In [ ]:
ipl_match[ipl_match['City'] == 'delhi']

In [ ]:
ipl_match[ipl_match['City'] == 'ahemdabad']

In [ ]:
ipl_match[ipl_match['WonBy'] == 'Wickets']['WinningTeam']

In [ ]:
ipl_match[ipl_match['TossWinner'] == ipl_match['WinningTeam']].shape[0]

In [ ]:
ipl_match

In [ ]:
bolly.head()

In [ ]:
# # Questions : 
# 1. find the top 3 actors most of the movies they have done
# 2. find the the movies done by top 3 actors
# 3. find the number of teams who have win the tos for batting as well as won the match 
# 4. find the man of the match whose having the max margin of score 
# 5. find the first two opener of all the teams
# 6. find all the teams that played in ahemdabad , delhi 
# 7. how many teams won by wickets 
# 8. find the number of teams who have won the toss as well as match

In [ ]:
ipl_match['Team1Players'].iloc[0]

In [ ]:
movies.head()

In [ ]:
movies['title_x']

In [ ]:
movies.iloc[0]

In [ ]:
movies[['title_x', 'imdb_id', 'year_of_release']]

In [ ]:
movies['title_x'] = movies['title_x'].astype(str)

In [ ]:
categorical_features = []
numerical_features = []
for col in movies.columns:
    if movies[col].dtypes == object:
        categorical_features.append(col)
    else:
        numerical_features.append(col)

In [ ]:
categorical_features

In [ ]:
numerical_features

In [ ]:
(movies.isnull().sum()/movies.shape[0])*100

In [ ]:
movies.duplicated().sum()

In [ ]:
movies.drop_duplicates(inplace = True)

In [ ]:
movies.shape

In [ ]:
movies.head()

In [ ]:
movies['release_date'].unique()

In [ ]:
movies[movies['release_date'] == 'TV Series (2011â€“2012)']

In [ ]:
movies['release_date'].str.split("(")[3][0]

In [ ]:
movies['release_date'][0]

In [ ]:
for i in range(movies.shape[0]):
    movies['release_date'][i] = movies['release_date'].str.split("(")[i][0]

In [ ]:
removed_nan_data = movies.dropna()

In [ ]:
# movies

In [ ]:
removed_nan_data

In [ ]:
removed_nan_data.isnull().sum()

In [ ]:
removed_nan_data['release_date']

In [ ]:
removed_nan_data['release_date'].iloc[3].split("(")[0]

In [ ]:
for i in range(removed_nan_data.shape[0]):
    removed_nan_data['release_date'].iloc[i] = removed_nan_data['release_date'].iloc[i].split("(")[0]

In [ ]:
removed_nan_data.head()

In [ ]:
removed_nan_data = movies.dropna()

In [ ]:
removed_nan_data

In [ ]:
for i in range(removed_nan_data.shape[0]):
    removed_nan_data['release_date'].iloc[i] = removed_nan_data['release_date'].iloc[i].split("(")[0]

In [ ]:
for i in range(removed_nan_data.shape[0]):
    removed_nan_data['country'][i] = removed_nan_data['release_date'].iloc[i].split("(")[1][:-1]

In [ ]:
l = removed_nan_data['country'].unique()

In [ ]:
for i in l:
    print(i.split("("))
    break

In [ ]:
# # Questions : 
# 1. find the top 3 actors most of the movies they have done
# 2. find the the movies done by top 3 actors
# 3. find the number of teams who have win the tos for batting as well as won the match 
# 4. find the man of the match whose having the max margin of score 
# 5. find the first two opener of all the teams
# 6. find all the teams that played in ahemdabad , delhi 
# 7. how many teams won by wickets 
# 8. find the number of teams who have won the toss as well as match

In [ ]:
bolly.head()

In [ ]:
l = list(bolly['lead'].value_counts() >= 20)

In [ ]:
bolly['movie'].unique()

In [ ]:
bolly['movie'].nunique()

In [ ]:
bolly['lead'].value_counts()[bolly['lead'].value_counts() >= 20]

In [ ]:
bolly[bolly['lead'] == 'ajay devgn']

In [ ]:
ipl_match.shape

In [ ]:
# ipl_match[['City', 'Team1', 'Team2']]

In [ ]:
ipl_match = pd.read_csv('ipl-matches.csv')

In [ ]:
ipl_match.isnull().sum()

In [ ]:
ipl_match.head()

In [ ]:
ipl_match[ipl_match['City'] == 'Kolkata']

In [ ]:
ipl_match.head()

In [ ]:
new_data = ipl_match[['TossWinner', 'TossDecision', 'WinningTeam']]

In [ ]:
l = list(new_data[new_data['TossDecision'] == 'bat']['TossWinner'] == new_data[new_data['TossDecision'] == 'bat']['WinningTeam'])

In [ ]:
count = 0
for i in l:
    if i == True:
        count+=1
print(count)

In [ ]:
# 4. find the man of the match whose having the max margin of score

In [ ]:
ipl_match[['Margin', 'Player_of_Match']]['Margin'].sort_values(ascending=False)

In [ ]:
ipl_match[ipl_match['Margin'] == 146.0]

In [ ]:
# 5. find the first two opener of all the teams
# 6. find all the teams that played in ahemdabad , delhi 
# 7. how many teams won by wickets

In [78]:
ipl_match = pd.read_csv("ipl-matches.csv")

In [79]:
ipl_match.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [80]:
len(ipl_match['Team1Players'].unique())

932

In [81]:
ipl_match.shape

(950, 20)

In [82]:
len(ipl_match['Team1'].unique())

18

In [83]:
# ipl_match['Team1Openers']

In [84]:
ipl_match['Team1Players'].iloc[0]

"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Ashwin', 'R Parag', 'TA Boult', 'OC McCoy', 'M Prasidh Krishna', 'YS Chahal']"

In [85]:
ipl_match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int64
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    object
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    object
 6   Team2            950 non-null    object
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 148.6+ KB

In [86]:
ipl_match['Team1Players'].apply(lambda x : x.split())

0      [['YBK, Jaiswal',, 'JC, Buttler',, 'SV, Samson...
1      [['V, Kohli',, 'F, du, Plessis',, 'RM, Patidar...
2      [['V, Kohli',, 'F, du, Plessis',, 'RM, Patidar...
3      [['YBK, Jaiswal',, 'JC, Buttler',, 'SV, Samson...
4      [['PK, Garg',, 'Abhishek, Sharma',, 'RA, Tripa...
                             ...
945    [['WP, Saha',, 'BB, McCullum',, 'RT, Ponting',...
946    [['L, Ronchi',, 'ST, Jayasuriya',, 'DJ, Thorne...
947    [['G, Gambhir',, 'V, Sehwag',, 'S, Dhawan',, '...
948    [['K, Goel',, 'JR, Hopes',, 'KC, Sangakkara',,...
949    [['R, Dravid',, 'W, Jaffer',, 'V, Kohli',, 'JH...
Name: Team1Players, Length: 950, dtype: object

In [73]:
ipl_match['Team1Players'].iloc[0].replace('[', "").split(", ")

["'YBK Jaiswal'",
 "'JC Buttler'",
 "'SV Samson'",
 "'D Padikkal'",
 "'SO Hetmyer'",
 "'R Ashwin'",
 "'R Parag'",
 "'TA Boult'",
 "'OC McCoy'",
 "'M Prasidh Krishna'",
 "'YS Chahal']"]

In [108]:
ipl_match.drop(columns= ['Team1_Opener', 'Team2_Opener'], inplace = True)

In [97]:
ipl_match['Team1Players'].iloc[0].replace('[', "").split(", ")[0]

"'YBK Jaiswal'"

In [118]:
T1opener = []
T2opener = []
for i in range(ipl_match.shape[0]):
    T1opener.append(ipl_match['Team1Players'].iloc[i].replace('[', "").split(", ")[0] + " and " + ipl_match['Team1Players'].iloc[i].replace('[', "").split(", ")[1])
    T2opener.append(ipl_match['Team2Players'].iloc[i].replace('[', "").split(", ")[0] + " and " + ipl_match['Team2Players'].iloc[i].replace('[', "").split(", ")[1])

In [119]:
ipl_match['Team1_Opener'] = T1opener

In [120]:
ipl_match['Team2_Opener'] = T2opener

In [121]:
ipl_match.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,Team1_Opener,Team2_Opener
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,'YBK Jaiswal' and 'JC Buttler','WP Saha' and 'Shubman Gill'
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,...,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,'V Kohli' and 'F du Plessis','YBK Jaiswal' and 'JC Buttler'
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,...,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,'V Kohli' and 'F du Plessis','Q de Kock' and 'KL Rahul'
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,...,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,'YBK Jaiswal' and 'JC Buttler','WP Saha' and 'Shubman Gill'
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,...,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan,'PK Garg' and 'Abhishek Sharma','JM Bairstow' and 'S Dhawan'

In [112]:
ipl_match['Team1Players'].iloc[i].replace('[', "").split(", ")[0] + "/" + ipl_match['Team1Players'].iloc[i].replace('[', "").split(", ")[1]

"'R Dravid'/'W Jaffer'"

In [149]:
insurance = pd.read_csv("insurance.csv")

In [150]:
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [151]:
insurance.shape

(1338, 7)

In [152]:
insurance.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [153]:
# Data Analysis
insurance.groupby?

Signature:
insurance.groupby(
    by=None,
    axis: 'Axis | lib.NoDefault' = <no_default>,
    level: 'IndexLabel | None' = None,
    as_index: 'bool' = True,
    sort: 'bool' = True,
    group_keys: 'bool' = True,
    observed: 'bool | lib.NoDefault' = <no_default>,
    dropna: 'bool' = True,
) -> 'DataFrameGroupBy'
Docstring:
Group DataFrame using a mapper or by a Series of columns.

A groupby operation involves some combination of splitting the
object, applying a function, and combining the results. This can be
used to group large amounts of data and compute operations on these
groups.

Parameters
----------
by : mapping, function, label, pd.Grouper or list of such
    Used to determine the groups for the groupby.
    If ``by`` is a function, it's called on each value of the object's
    index. If a dict or Series is passed, the Series or dict VALUES
    will be used to determine the groups (the Series' values are first
    aligned; see ``.align()`` method). If a list or ndarray of length
    equal to the selected axis is passed (see the `groupby user guide
    <https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html#splitting-an-object-into-groups>`_),
    the values are used as-is to determine the groups. A label or list
    of labels may be passed to group by the columns in ``self``.
    Notice that a tuple is interpreted as a (single) key.
axis : {0 or 'index', 1 or 'columns'}, default 0
    Split along rows (0) or columns (1). For `Series` this parameter
    is unused and defaults to 0.

    .. deprecated:: 2.1.0

        Will be removed and behave like axis=0 in a future version.
        For ``axis=1``, do ``frame.T.groupby(...)`` instead.

level : int, level name, or sequence of such, default None
    If the axis is a MultiIndex (hierarchical), group by a particular
    level or levels. Do not specify both ``by`` and ``level``.
as_index : bool, default True
    Return object with group labels as the
    index. Only relevant for DataFrame input. as_index=False is
    effectively "SQL-style" grouped output. This argument has no effect
    on filtrations (see the `filtrations in the user guide
    <https://pandas.pydata.org/docs/dev/user_guide/groupby.html#filtration>`_),
    such as ``head()``, ``tail()``, ``nth()`` and in transformations
    (see the `transformations in the user guide
    <https://pandas.pydata.org/docs/dev/user_guide/groupby.html#transformation>`_).
sort : bool, default True
    Sort group keys. Get better performance by turning this off.
    Note this does not influence the order of observations within each
    group. Groupby preserves the order of rows within each group. If False,
    the groups will appear in the same order as they did in the original DataFrame.
    This argument has no effect on filtrations (see the `filtrations in the user guide
    <https://pandas.pydata.org/docs/dev/user_guide/groupby.html#filtration>`_),
    such as ``head()``, ``tail()``, ``nth()`` and in transformations
    (see the `transformations in the user guide
    <https://pandas.pydata.org/docs/dev/user_guide/groupby.html#transformation>`_).

    .. versionchanged:: 2.0.0

        Specifying ``sort=False`` with an ordered categorical grouper will no
        longer sort the values.

group_keys : bool, default True
    When calling apply and the ``by`` argument produces a like-indexed
    (i.e. :ref:`a transform <groupby.transform>`) result, add group keys to
    index to identify pieces. By default group keys are not included
    when the result's index (and column) labels match the inputs, and
    are included otherwise.

    .. versionchanged:: 1.5.0

       Warns that ``group_keys`` will no longer be ignored when the
       result from ``apply`` is a like-indexed Series or DataFrame.
       Specify ``group_keys`` explicitly to include the group keys or
       not.

    .. versionchanged:: 2.0.0

       ``group_keys`` now defaults to ``True``.

observed : bool, default False
    This only applies if any of the groupers are Categoricals.
    If True: only show observed values for categorical groupers.
    If False: show all values for categorical groupers.

    .. deprecated:: 2.1.0

        The default value will change to True in a future version of pandas.

dropna : bool, default True
    If True, and if group keys contain NA values, NA values together
    with row/column will be dropped.
    If False, NA values will also be treated as the key in groups.

Returns
-------
pandas.api.typing.DataFrameGroupBy
    Returns a groupby object that contains information about the groups.

See Also
--------
resample : Convenience method for frequency conversion and resampling
    of time series.

Notes
-----
See the `user guide
<https://pandas.pydata.org/pandas-docs/stable/groupby.html>`__ for more
detailed usage and examples, including splitting an object into groups,
iterating through groups, selecting a group, aggregation, and more.

Examples
--------
>>> df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
...                               'Parrot', 'Parrot'],
...                    'Max Speed': [380., 370., 24., 26.]})
>>> df
   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0
>>> df.groupby(['Animal']).mean()
        Max Speed
Animal
Falcon      375.0
Parrot       25.0

**Hierarchical Indexes**

We can groupby different levels of a hierarchical index
using the `level` parameter:

>>> arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
...           ['Captive', 'Wild', 'Captive', 'Wild']]
>>> index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
>>> df = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},
...                   index=index)
>>> df
                Max Speed
Animal Type
Falcon Captive      390.0
       Wild         350.0
Parrot Captive       30.0
       Wild          20.0
>>> df.groupby(level=0).mean()
        Max Speed
Animal
Falcon      370.0
Parrot       25.0
>>> df.groupby(level="Type").mean()
         Max Speed
Type
Captive      210.0
Wild         185.0

We can also choose to include NA in group keys or not by setting
`dropna` parameter, the default setting is `True`.

>>> l = [[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]
>>> df = pd.DataFrame(l, columns=["a", "b", "c"])

>>> df.groupby(by=["b"]).sum()
    a   c
b
1.0 2   3
2.0 2   5

>>> df.groupby(by=["b"], dropna=False).sum()
    a   c
b
1.0 2   3
2.0 2   5
NaN 1   4

>>> l = [["a", 12, 12], [None, 12.3, 33.], ["b", 12.3, 123], ["a", 1, 1]]
>>> df = pd.DataFrame(l, columns=["a", "b", "c"])

>>> df.groupby(by="a").sum()
    b     c
a
a   13.0   13.0
b   12.3  123.0

>>> df.groupby(by="a", dropna=False).sum()
    b     c
a
a   13.0   13.0
b   12.3  123.0
NaN 12.3   33.0

When using ``.apply()``, use ``group_keys`` to include or exclude the
group keys. The ``group_keys`` argument defaults to ``True`` (include).

>>> df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
...                               'Parrot', 'Parrot'],
...                    'Max Speed': [380., 370., 24., 26.]})
>>> df.groupby("Animal", group_keys=True)[['Max Speed']].apply(lambda x: x)
          Max Speed
Animal
Falcon 0      380.0
       1      370.0
Parrot 2       24.0
       3       26.0

>>> df.groupby("Animal", group_keys=False)[['Max Speed']].apply(lambda x: x)
   Max Speed
0      380.0
1      370.0
2       24.0
3       26.0
File:      c:\users\tbaka\anaconda3\lib\site-packages\pandas\core\frame.py
Type:      method

In [154]:
gender_analysis = insurance.groupby('sex')

In [155]:
gender_analysis.count()

        age  bmi  children  smoker  region  charges
sex
female  662  662       662     662     662      662
male    676  676       676     676     676      676

In [156]:
insurance[insurance['sex'] =='female']['bmi'].shape

(662,)

In [157]:
gender_analysis.sum()

,age,bmi,children,smoker,region,charges
sex,,,,,,
female,26151,20110.070,711,yesnonononoyesnonononoyesnonononononononononon...,southwestsoutheastsoutheastnorthwestnorthwests...,8.321061e+06
male,26308,20917.555,754,nononononononoyesnononoyesnononoyesyesnoyesnon...,southeastsoutheastnorthwestnorthwestnortheastn...,9.434764e+06

In [158]:
gender_analysis['charges'].mean()

sex
female    12569.578844
male      13956.751178
Name: charges, dtype: float64

In [159]:
region_analysis = insurance.groupby('region')

In [160]:
gender_analysis.get_group('female')

      age     sex    bmi  children smoker     region      charges
0      19  female  27.90         0    yes  southwest  16884.92400
5      31  female  25.74         0     no  southeast   3756.62160
6      46  female  33.44         1     no  southeast   8240.58960
7      37  female  27.74         3     no  northwest   7281.50560
9      60  female  25.84         0     no  northwest  28923.13692
...   ...     ...    ...       ...    ...        ...          ...
1332   52  female  44.70         3     no  southwest  11411.68500
1334   18  female  31.92         0     no  northeast   2205.98080
1335   18  female  36.85         0     no  southeast   1629.83350
1336   21  female  25.80         0     no  southwest   2007.94500
1337   61  female  29.07         0    yes  northwest  29141.36030

[662 rows x 7 columns]

In [161]:
region_analysis.get_group('northeast')['age'].mean()

39.26851851851852

In [162]:
region_analysis['charges'].mean()

region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64